<ion-view class="beijing-content-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container">
            <div class="row section-title">
                <div class="title">
                    <span>RECAP VIDEO</span>
                </div>
            </div>
        </div>
        <video-comp video="cc.video"></video-comp>
        <div class="container">
            <div class="row section-title">
                <div class="title">
                    <span>HERE'S WHAT HAPPENED</span>
                </div>
            </div>
        </div>
        <beijing-text></beijing-text>
        <div class="container">
            <div class="row section-title">
                <div class="title">
                    <span>PLACEMENTS</span>
                </div>
            </div>
        </div>
        <beijing-rankings></beijing-rankings>
        <download-app></download-app>
        <branding></branding>
        <subscribe></subscribe>
        <footer></footer>
    </ion-content>
</ion-view>