.beijing-content-view {
    ion-content {
        .scroll {
            padding-top: 100px;

            > .container {
                .section-title {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 58px;
                    padding: 0 25px;
                    .title {
                        margin: 0 auto;
                        width: 90.9vw;
                        font-size: 30px;
                        text-align: center;

                        span {
                            border-bottom: 8px solid $as-green;
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }   
}

@media(min-width: 420px) {
    .beijing-content-view {
        ion-content {
            .scroll {
                > .container {
                    .section-title {
                        padding: 0 37px;

                    }
                }
            }
        }
    }
}

@media(min-width: 1024px) {
    .beijing-content-view {
        ion-content {
            .scroll {
                padding-top: 175px;

                > .container {
                    .section-title {
                        margin-bottom: 60px;

                        .title {

                            span {
                                font-size: 55px;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}