<div class="container">
    <div class="row">
        <div ng-repeat="avatar in cc.avatars" ng-click="cc.stateChange(cc.ref, avatar.ref)" class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img ng-src="{{avatar.image}}" alt="">
                    </div>
                </div>
                <div class="blue-container">
                    <span>{{avatar.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>