<ion-view class="contact-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container hero-container">
            <div class="row">
                <div class="col">
                    <img ng-src="../img/contact.jpg" src="../img/contact.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container about-container">
            <div class="row">
                <div class="col">
                    <span>CONTACT</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>INNSBRUCK</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Questions, Comments, Concerns, Press: </span><span>office@air-style.com</span>
                    <span>Sponsorship Inquiries: </span><span>yannic@air-style.com</span>
                    <span>Press Credentials: </span><span><a href="http://bit.ly/ASIBKPRESS" target="_blank">http://bit.ly/ASIBKPRESS</a></span>
                    <span>For Media Content: </span><span><a href="http://bit.ly/2l2Y4qa" target="_blank">http://bit.ly/2jpu7jG</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>LOS ANGELES</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Question, Comments, Concerns, Press: </span><span>info@air-style.com</span>
                    <span>Press Inquiries: </span><span>brittany@freshcleanmedia.com</span>
                    <span>Press/Photo Pass Inquiries: </span><span>info@air-style.com</span>
                    <span>Sponsorship Inquiries: </span><span>molly.scott@air-style.com</span>
                </div>
            </div>
        </div>
        <footer></footer>
    </ion-content>
</ion-view>