<ion-view class="artist-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container hero-container">
            <div class="row">
                <div class="col">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="container about-container">
            <div class="row">
                <div class="col">
                    <span>ABOUT</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>THIS IS US</span>
                </div>
            </div>
        </div>
        <video-comp video="cc.video"></video-comp>
    </ion-content>
</ion-view>