<ion-view class="about-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container hero-container">
            <div class="row">
                <div class="col">
                    <img ng-src="../img/about.jpg?reload=true" alt="">
                </div>
            </div>
        </div>
        <div class="container about-container">
            <div class="row">
                <div class="col">
                    <span>ABOUT</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Air + Style is a global Big Air snowboard competition and music festival that features world-class action sports athletes and musicians along with art, community and culture during a two-day event series with stops in Beijing, China (November 18,19 2016), Innsbruck, Austria (February 3,4 2017) and Los Angeles, California (February 18,19). Featuring a massive 16-story snowboard jump, Air + Style was founded in 1994 in Innsbruck, Austria, and is the longest standing and first Big Air snowboarding competition. In 2010 Air + Style expanded to Beijing, China, and in 2015, Shaun White became a majority shareholder and launched Air + Style Los Angeles, completing the three-stop world tour.
“When I brought Air + Style to LA three years ago, it was my hope that we could attract the world’s best snowboarders to be part of something great,” says Olympic gold medalist and Air + Style shareholder, Shaun White. “We’re doing it! Once was cool. The second time was awesome. This third time, we are really starting to establish ourselves as an event. It has surpassed every expectation, and I’m so psyched with the insane names that are invited this year to compete in Los Angeles."
Air + Style is proud to partner with go90, Coors Light, Clif Bar, Foro Student MarketPlace, Stoli, Hansen’s Natural Sodas, Big Bear Mountain Resort and Mammoth Mountain. Fans can watch Air + Style action for free only on go90.com or the go90 app, available for iOS  or Android. </span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>THIS IS US</span>
                </div>
            </div>
        </div>
        <video-comp video="cc.video"></video-comp>
        <footer></footer>
    </ion-content>
</ion-view>