<div class="container">
    <div class="row">
        <div class="col">
            <div ng-if="!cc.mobile" class="container name-container">
                <div class="row">
                    <div class="col">
                        <span>{{cc.rider.name.first | uppercase}} {{cc.rider.name.last | uppercase}}</span>
                    </div>
                </div>
            </div>
            <div class="container snippet-container">
                <div class="row">
                    <div class="col">
                        <span>DOB:</span><span> {{cc.rider.dob | date:'MMMM d, y'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Nation:</span><span> {{cc.rider.nation}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Stance:</span><span> {{cc.rider.stance}}</span>
                    </div>
                </div>
            </div>
            <div class="container social-container">
                <div class="row">
                    <div class="col">
                        <img src="../img/facebook-inverse.png" alt="" ng-click="cc.go(cc.rider.fb)">
                    </div>
                    <div class="col">
                        <img src="../img/twitter-inverse.png" alt="" ng-click="cc.go(cc.rider.tweet)">
                    </div>
                    <div class="col">
                        <img src="../img/instagram-inverse.png" alt="" ng-click="cc.go(cc.rider.inst)">
                    </div>
                    <div class="col">
                        <img src="../img/youtube-inverse.png" alt="" ng-click="cc.go(cc.rider.youtube)">
                    </div>
                </div>
            </div>
            <div class="container years-container">
                <div class="row">
                    <div class="col">
                        <span>A+S: </span><span ng-repeat="year in cc.rider.asYears">{{year}} </span>
                    </div>
                </div>
            </div>
            <div class="container bio-container">
                <div ng-repeat="paragraph in cc.rider.bio" class="row">
                    <div class="col">
                        <span>{{paragraph}}</span>
                    </div>
                </div>
            </div>
            <div class="container video-container">
                <div class="row">
                    <div class="col">
                        <iframe width="560" height="315" ng-src="{{cc.rider.video}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="container sponsors-container">
                <div class="row">
                    <div class="col">
                        <span>Sponsors: </span><span ng-repeat="sponsor in cc.rider.sponsors">{{sponsor | uppercase}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div ng-if="cc.mobile" class="container name-container">
                <div class="row">
                    <div class="col">
                        <span>{{cc.rider.name.first | uppercase}} {{cc.rider.name.last | uppercase}}</span>
                    </div>
                </div>
            </div>
            <div class="container image-container">
                <div class="row">
                    <div class="col">
                        <div class="rider-image" style="background: url({{cc.rider.img_portrait}}) 50% 0 / 100%"></div>
</div>
</div>
</div>
<div class="container score-container">
    <div ng-repeat="(key, val) in cc.rider.scores" class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <span>{{key}}</span>
                </div>
                <div class="col">
                    <span>{{val.overall}}</span>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="(inner, innerVal) in val" ng-if="inner != 'overall'" class="col">
                    <div class="row">
                        <div class="col">
                            <span>{{inner | uppercase}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="{{inner}}">{{innerVal.score}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>