<ion-view class="la-content-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container">
            <div class="row section-title">
                <div class="title">
                    <span>LOS ANGELES 2016</span>
                </div>
            </div>
        </div>
        <video-comp video="cc.video"></video-comp>
        <la-text></la-text>
        <div class="container">
            <div class="row section-title">
                <div class="title">
                    <span>FULL RESULTS</span>
                </div>
            </div>
        </div>
        <la-rankings></la-rankings>
        <download-app></download-app>
        <branding></branding>
        <subscribe></subscribe>
        <footer></footer>
    </ion-content>
</ion-view>
