<div class="container">
    <div class="row selectors-row">
        <div class="col">
            <div class="container selectors-container">
                <div class="row">
                    <div class="col">
                        <span>YEAR</span>
                        <select ng-model="cc.currentYear" ng-change="cc.chooseOption()" ng-options="year as year for (year, content) in cc.rankingsListContent[0].scores">
                            </select>
                        <i class="icon ion-chevron-down"></i>
                    </div>
                    <div class="col">
                        <span ng-class="{'overall-selected': cc.currentFilter == 'overall'}" ng-click="cc.filterAthletes('overall')">ALL STOPS</span>
                        <span ng-class="{'beijing-selected': cc.currentFilter == 'beijing'}" ng-click="cc.filterAthletes('beijing')">BEIJING</span>
                        <span ng-class="{'innsbruck-selected': cc.currentFilter == 'innsbruck'}" ng-click="cc.currentYear == '2017' ? '' : cc.filterAthletes('innsbruck')">INNSBRUCK</span>
                        <span ng-class="{'los-angeles-selected': cc.currentFilter == 'la'}" ng-click="cc.currentYear == '2017' ? '' : cc.filterAthletes('la')">LOS ANGELES</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <rankings-athlete ng-repeat="athlete in cc.rankingsListContent" athlete="athlete" index="$index" year="cc.currentYear"></rankings-athlete>
        </div>
    </div>
</div>