rankings-list {
    > .container {
        .selectors-row {
            margin-bottom: 1rem;
            > .col {
                .selectors-container {
                    > .row {
                        flex-flow: row wrap;
                        .col:first-child {
                            min-width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 2rem;
                            span {
                                margin-right: 1rem;
                            }
                            select {
                                -webkit-appearance: none;
                                -webkit-border-radius: 0;
                                border-radius: 0;
                                height: 2.56em;
                                width: 100%;
                                border: 3px solid black;
                                color: black;
                                background-color: white;
                                padding-left: 0.8em;
                                font-size: 18px;
                                padding-top: 0.2em;
                                max-width: 290px;
                                option {
                                    color: #000;
                                }
                            }
                            i {
                                color: black;
                                position: relative;
                                right: 1.8rem;
                            }
                        }
                        .col:nth-child(2) {
                            min-width: 21rem;
                            width: 100%;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span:nth-child(-n + 3) {
                                margin-right: 1rem;
                            }
                            span:nth-child(2) {
                                color: $as-green;
                            }
                            span:nth-child(3) {
                                color: $as-yellow;
                            }
                            span:nth-child(4) {
                                color: $as-blue;
                            }
                            span {
                                transition: all .4s;
                                padding-bottom: 0.3rem;
                                &.overall-selected,
                                &:hover {
                                    border-bottom: 4px solid;                                    
                                    cursor: pointer;
                                }
                                &.beijing-selected {
                                    border-bottom: 4px solid $as-green;
                                }
                                &.los-angeles-selected {
                                    border-bottom: 4px solid $as-blue;
                                }
                                &.innsbruck-selected {
                                    border-bottom: 4px solid $as-yellow;
                                }

                            }
                        }
                    }
                }
            }
        }
        >.row:nth-child(2) {
            .col {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                rankings-athlete {
                    padding: 1rem;
                }
            }
        }
    }
}

@media(min-width: 950px) {
    rankings-list {
        > .container {
            .selectors-row {
                margin-bottom: 0;
                max-width: 1022px;
                margin: 0 auto;
                > .col {
                    .selectors-container {
                        // padding: 0 9.7rem;
                        >.row {
                            >.col {
                                min-width: initial !important;
                            }
                            >.col:first-child {
                                justify-content: flex-start;
                                margin-bottom: 0;
                                select {
                                    width: 5em;
                                }
                            }
                            >.col:nth-child(2) {
                                justify-content: flex-end;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1440px) {
    rankings-list {
        > .container {
            .selectors-row {
                > .col {
                    .selectors-container {
                        // padding: 0 9.7rem;
                    }
                }
            }
        }
    }
}
