<img style="top: {{cc.currScroll}}px;" class="shape line" src="../img/line.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape rectangle" src="../img/rectangle.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape half-plus" src="../img/half-plus.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape s" src="../img/s.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape l" src="../img/l.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape lines" src="../img/lines.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape triangle" src="../img/triangle.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape green-line" src="../img/green-line.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape other-line" src="../img/other-line.png" alt="">
<img style="top: {{cc.currScroll}}px;" class="shape hollow-rectangle" src="../img/hollow-rectangle.png" alt="">