ticket-title {
    .container {
        padding-top: 7rem;

        .row:first-child {
            .col {
                text-align: center;
                span {
                    font-size: 64px;
                    border-bottom: 8px solid $as-yellow;
                }
            }
        }

        .row:nth-child(2) {
            margin-top:15px;
            .col {
                text-align: center;
                span {
                    font-size: 26px;
                    font-family: 'Apercu';
                    font-weight: bold;
                    letter-spacing: 4px;
                }
            }
        }
    }
}