<div class="container">
    <div class="row">
        <div ng-repeat="rider in cc.riderPanelsContent" ng-click="cc.stateChange('app.rider.details', 'rider', rider.ref)" class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img ng-src="{{rider.image}}" alt="">
                    </div>
                </div>
                <div class="blue-container">
                    <span>{{rider.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>