<div class="container">
    <div class="row title-row">
        <div class="col title">
            <span>NEWS</span>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="tweet in cc.tumblrFeedContent|limitTo:4" ng-click="cc.go(tweet[ 'short_url'])" class="col ">
            <div class="container ">
                <div class="row ">
                    <div class="col ">
                        <img ng-src="{{tweet.photos[0].original_size.url}}" alt=" ">
                    </div>
                </div>
                <div class="row ">
                    <div class="col ">
                        <span>{{tweet.summary | uppercase}}</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col ">
                        <span>{{tweet.date |  amUtc | amDateFormat:'MMM DD YYYY' | uppercase}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row more ">
        <div class="col " ng-click="cc.go('https://theairandstylefestival.tumblr.com/')">
            <button ng-mouseover="cc.borderButtonHover = !cc.borderButtonHover" ng-mouseleave="cc.borderButtonHover  = !cc.borderButtonHover"
                ng-class="{'border-button': cc.borderButtonHover}">View All</button>
        </div>
    </div>
</div>
