faq-footer {
    .container {
        height:11rem;
        padding: 5rem 0;
        .title-row {
            margin-bottom: 2rem;
            .title {
                display: flex;
                justify-content: center;

                span {
                    font-size: 60px;

                }
            }
        }

        .row:nth-child(2) {
            > .col {
                display: flex;
                justify-content: center;

                span {
                    font-size: 18px;
                    font-family: 'Apercu';
                }
                a {
                    font-size: 18px;
                    font-family: 'Apercu';
                    color: $as-yellow;
                    text-decoration: none;
                }
            }
        }
    }
}