<div class="container nopad">
    <div class="row nopad">
        <div class="col nopad">
            <ion-slide-box>
                <ion-slide>
                    <div class="container">
                        <div class="container lineups">
                            <div ng-repeat="line in cc.slideContent.lineup" class="row nopad lineup">
                                <div class="col nopad">
                                    <span ng-repeat="word in line">{{word}}<span class="blue-dot"> {{$index == line.length - 1 ? '' : '.'}} </span></span>
                                </div>
                            </div>
                        </div>
                        <div class="container logistics">
                            <div class="row">
                                <div class="col">
                                    <span class="sale">{{cc.slideContent.date}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="container buttons">
                            <div class="row">
                                <div class="col">
                                    <!--<button ng-repeat="button in cc.slideContent.buttons" ui-sref="{{button.dest}}">{{button.label}}</button>-->
                                    <button ng-repeat="button in cc.slideContent.buttons" ng-click="button.outbound ? cc.go(button.dest) : cc.stateChange(button.dest)">{{button.label}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img ng-if="!cc.mobile" class="shape" src="../img/line.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/rectangle.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/half-plus.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/s.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/l.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/lines.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/triangle.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/green-line.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/other-line.png" alt="">
                    <img ng-if="!cc.mobile" class="shape" src="../img/hollow-rectangle.png" alt="">
                </ion-slide>
            </ion-slide-box>
        </div>
    </div>
</div>