<div class="container">
    <div class="row">
        <div class="col">
            <span>{{'Getting to Air + Style' | uppercase}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span>METRO</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="../img/metro_logo_625.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Go Metro and save $5 on Festival Merch! Plan your trip and find out more details at metro.net/discounts or call (323) Go Metro or (323.466.3876).</span>
                        <span>Exposition Park is right across the street from Expo/Vermont Station on the Metro Expo Line. Roundtrip fare is $3.50 in stored value + $1 for a reusable TAP card, per person</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>SKEDADDLE</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img style="width: 20%;" src="../img/skedaddle.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Skedaddle is a super easy way to get to Air+Style. With Skedaddle, you can start or join professionally
 driven bus routes directly from your neighborhood to the event.</span>
                        <span><a href="https://www.letskedaddle.com/events?terms=Air">Click here</a>
and use the search bar to find existing routes or start your own from your neighborhood!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>