header-notification {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    > .container {
        background-color: rgba(40, 40, 40, 0.8);
        width: 100%;
        opacity: 1;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        > .row {
            width: 100%;
            > .col {
                display: flex;
                justify-content: center;
                span {
                    font-size: 20px;
                    font-family: 'Apercu';
                }

                i {
                    font-size: 20px;
                    position: absolute;
                    right: 1rem;
                }
            }
        }
    }

    > .container.fade {
        opacity: 0;
        transform: translateY(-50px);
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}