<ion-view class="tour-stops-view">
	<ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
		<tour-carousel></tour-carousel>
		<avatar-panels avatars="cc.avatars" ref="app.artist" schedule="cc.showSchedule" view="cc.showViewAll"></avatar-panels>
		<tumblr-feed></tumblr-feed>
		<ranking-summary></ranking-summary>
		<video-comp></video-comp>
		<tour-faq></tour-faq>
		<download-app></download-app>
		<partners></partners>
		<branding></branding>
		<subscribe></subscribe>
		<footer></footer>
	</ion-content>
</ion-view>