<div class="container">
    <div class="row title">
        <div class="col">
            <span>TOUR STOPS</span>
        </div>
    </div>
    <div ng-click="cc.stateChange('app.tour-stops', 'beijing')" class="row bj">
        <div class="col">
            <span>BEIJING</span>
        </div>
    </div>
    <div ng-click="cc.stateChange('app.tour-stops', 'innsbruck')" class="row ib">
        <div class="col">
            <span>INNSBRUCK</span>
        </div>
    </div>
    <div ng-click="cc.stateChange('app.tour-stops', 'la')" class="row la">
        <div class="col">
            <span>LOS ANGELES</span>
        </div>
    </div>
</div>
