<div class="container">
	<div ng-click="cc.tourStopMenuClose()" class="row title">
		<div class="col">
			<span>TOUR STOPS</span>
		</div>
	</div>
	<div ng-click="cc.stateChange('app.content.tour-stops', 'tour', 'beijing')" class="row bj">
		<div class="col">
			<span>BEIJING</span>
		</div>
	</div>
	<div ng-click="cc.stateChange('app.content.tour-stops', 'tour', 'innsbruck')" class="row ib">
		<div class="col">
			<span>INNSBRUCK</span>
		</div>
	</div>
	<div ng-click="cc.stateChange('app.content.tour-stops', 'tour', 'los angeles')" class="row la">
		<div class="col">
			<span>LOS ANGELES</span>
		</div>
	</div>
</div>