Desktop
<div class="col anchor-pad">
    <a ng-disabled="true" ng-class="{'disabled' : true}" ui-sref="app.home">TOUR STOPS</a>
</div>
<div class="col anchor-pad">
    <a ng-disabled="true" ng-class="{'disabled' : true}">LINE-UP</a>
</div>
<div class="col anchor-pad">
    <a ng-disabled="true" ng-class="{'disabled' : true}">RIDERS + RANKINGS</a>
</div>
<div class="col anchor-pad">
    <a href="https://airandstyle.frontgatetickets.com/">TICKETS</a>
    <a ui-sref="app.content.ticket">TICKETS</a>
</div>
<div class="col anchor-pad">

    <a ng-disabled="true" ng-class="{'disabled' : true}">MERCH</a>
</div>