<div class="row">
	<div class="col anchor-pad">
		<a ng-class="{'disabled' : false}" ng-click="cc.showTourStops = !cc.showTourStops">TOUR STOPS</a>
		<tour-stops-menu ng-if="cc.showTourStops"></tour-stops-menu>
		{{cc.showTourStops}}
		<button ng-click="cc.showTourStops = !cc.showTourStops">fdsafdsa	</button>
	</div>
	<div class="col anchor-pad">
		<a ng-disabled="true" ng-class="{'disabled' : true}">LINE-UP</a>
	</div>
	<div class="col anchor-pad">
		<a ng-disabled="true" ng-class="{'disabled' : true}">RIDERS + RANKINGS</a>
	</div>
	<div class="col anchor-pad">
		<a href="https://airandstyle.frontgatetickets.com/">TICKETS</a>
		<!--<a ui-sref="app.content.ticket">TICKETS</a>-->
	</div>
	<div class="col anchor-pad">

		<a ng-disabled="true" ng-class="{'disabled' : true}">MERCH</a>
	</div>
</div>