<div class="row">
    <!--<div class="col anchor-pad">
        <a ng-mouseenter="cc.mouse = true" ng-mouseleave="cc.mouse = false" ng-class="{'hover': cc.mouse}" ng-click="cc.go('live')">LIVE STREAM
        </a>
    </div>-->
    <div class="col anchor-pad">
        <a ng-mouseover="cc.menus.tours = true">TOUR STOPS
            <span ng-if="cc.venue.title && cc.currentState == 'app.tour-stops'">:<span ng-class="cc.venue.ref"> {{cc.venue.title}}</span></span>
        </a>
        <dropdown-menu ng-if="cc.menus.tours" class="slideInDown" ng-mouseleave="cc.menus.tours = false" menu="tours"></dropdown-menu>
        <span ng-if="cc.activePage()">{{cc.activePageRef}}</span>
    </div>
    <div class="col anchor-pad">
        <a ng-mouseover="cc.menus.lineup = true" ui-sref="app.lineup">LINEUP
            <span ng-if="cc.venue.title && cc.currentState == 'app.lineup'">:<span ng-class="cc.venue.ref"> {{cc.venue.title}}</span></span>
        </a>
        <dropdown-menu ng-if="cc.menus.lineup" class="slideInDown" ng-mouseleave="cc.menus.lineup = false" menu="lineup"></dropdown-menu>
    </div>
    <div class="col anchor-pad">
        <a ng-mouseover="cc.menus.riders = true">RIDERS + RANKINGS
            <span ng-if="cc.venue.title && cc.currentState == 'app.riders'">:<span ng-class="cc.venue.ref"> {{cc.venue.title}}</span></span>
        </a>
        <dropdown-menu ng-if="cc.menus.riders" class="slideInDown" ng-mouseleave="cc.menus.riders = false" menu="riders"></dropdown-menu>
    </div>
    <div class="col anchor-pad">
        <!--<a href="https://airandstyle.frontgatetickets.com/">TICKETS</a>-->
        <a ng-mouseover="cc.menus.tickets = true" ui-sref="app.ticket">TICKETS
            <span ng-if="cc.venue.title && cc.currentState == 'app.tickets'">:<span ng-class="cc.venue.ref"> {{cc.venue.title}}</span></span>
        </a>
        <dropdown-menu ng-if="cc.menus.tickets" class="slideInDown" ng-mouseleave="cc.menus.tickets = false" menu="tickets"></dropdown-menu>
    </div>
    <div class="col anchor-pad">
        <a ng-mouseenter="cc.mouse = true" ng-mouseleave="cc.mouse = false" ng-class="{'hover': cc.mouse}" ng-click="cc.go('merch')">MERCH
        </a>
    </div>
</div>
