<!--Nav Bar -->
<div ng-class="{ 'nav-menu' : cc.darken }" class="as-nav row nopad">
	<!-- Logo -->
	<div class="logo nopad">
		<a ui-sref="app.content.home">
			<img src="../img/logo.png" alt="">
		</a>
	</div>

	<!-- Menu -->
	<div ng-if="!cc.noNav" class="col as-menu">
		<desktop-menu ng-if="!cc.mobile" class="container"></desktop-menu>
		<mobile-menu ng-if="cc.mobile" class="container"></mobile-menu>
	</div>

	<!-- Search Icon -->
	<div class="col search">
		<i class="icon ion-ios-search-strong"></i>
	</div>
	<!-- Menu Button -->
	<div class="col hamburger" ng-click="cc.toggleNav()">
		<img ng-if="cc.mobile && cc.noNav || cc.noNav" src="../img/hamburger.png" alt="">
		<button ng-if="cc.mobile && !cc.noNav"><i class="icon ion-close-round"></i></button>
	</div>
</div>