nav {
    margin-top: 2.57%;
    position: absolute;
    width: 100%;
    text-align: left;
    z-index: 2;
    .as-nav {
        * {
            font-size: 1em;
            color: white !important;
            // margin-right: 72px;
        }

        i {
            font-size: 1.904em;
            margin-right: 0;
        }

        .logo {
            margin-left: 4.18%;
            max-width: 4.13%;
            min-width: 40.6px; 

            a {
                img {
                    width: 100%;
                }
            }
        }

        .anchor-pad {
            padding-top: 1.74%
        }

        .search {
            margin-left: 41.66%;
            padding-right: 0;
            padding-top: 1.97%;
            text-align: right;
        }

        .hamburger {
            padding-top: 2.2%;
            text-align: left;
            margin-left: 54px;
            padding-left: 0;
        }


        

        a.disabled {
            color: grey !important;
        }
    }
}