


nav {
    position: absolute;
    width: 100vw;
    padding: 1rem 1rem 0 1rem;
    z-index: 2;
    background-color: transparent;
    .as-nav {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        .logo {
            z-index: 1;
            a {
                img {
                    width: 15vw;
                    max-width: 60px;
                }

                .line {
                    height: 0.15rem;
                    position: absolute;
                    width: 2rem;
                    bottom: 1.6rem;
                    left: 0.5rem;
                }
                .line.beijing {
                    background-color: $as-green;
                }

                .line.innsbruck {
                    background-color: $as-yellow;
                }

                .line.la {
                    background-color: $as-blue;
                }
            }

            > img {
                width: 6vw;
                min-width: 120px;
                position: absolute;
                top: 4rem;
                transition: 0.4s all cubic-bezier(0.165, 0.84, 0.5, 1);
                left: 5%;
                opacity: 0;
            }

            > img.hover {
                transform: translateX(25%);
                opacity: 1;

            }
        }
        .logo-text {
            margin-left: 10px;
        }
        .search {
            height: 100%;
            display: flex;
            max-width: 50px;
            align-items: flex-start;
            position: absolute;
            top: 2rem;
            right: 1.75rem;
            i {
                font-size: 25px;
            }
        }
        .hamburger {
            height: 100%;
            display: flex;
            align-items: flex-start;
            max-width: 40px;
            justify-content: flex-end;
            position: absolute;
            top: 2rem;
            right: 0.6rem;
            padding-top: 10px;
            button {
                position: relative;
                border: none;
                left: 0.75rem;
                padding-top: 0;
                bottom: 0.2rem;
                i {
                    display: flex;
                    font-size: 1.3rem;
                }
            }
        }
    }
    .as-menu {
        right: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        padding-right: 7rem;
        mobile-menu {
            position: fixed;
            top: 93px;
            width: 100vw;
            left: 0;
            height: 90vh;
            background-color: black;
            padding-top: 1rem;
            padding-left: 23px;
            overflow-y: scroll;
            // z-index: 2;
            .nav-menu {
                >.container:first-child {
                    .row {
                        margin-bottom: 1.5rem;
                        .col {
                            font-size: 30px;
                            font-weight: bold;
                            font-family: 'Apercu';
                            a {
                                font-family: 'Apercu';
                                text-decoration: none;
                            }
                        }
                    }
                }
                >.container:last-child {
                    >.row {
                        margin-bottom: 3rem;
                        .container {
                            .row:first-child {
                                margin-bottom: 2rem;
                                .col {
                                    font-size: 52px;
                                    font-family: 'Reglo-Bold';
                                    font-weight: bold;
                                }
                            }
                            .row:last-child {
                                .col {
                                    font-size: 22px;
                                    font-family: 'Reglo-Bold';
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    >.row:first-child {
                        .container {
                            .row:last-child {
                                .col {
                                    span {
                                        padding-bottom: 2px;
                                        border-bottom: 7px solid $as-green;
                                    }
                                }
                            }
                        }
                    }
                    >.row:nth-child(2) {
                        .container {
                            .row:last-child {
                                .col {
                                    span {
                                        padding-bottom: 2px;
                                        border-bottom: 7px solid $as-yellow;
                                    }
                                }
                            }
                        }
                    }
                    >.row:nth-child(3) {
                        .container {
                            .row:first-child {
                                .col {
                                    font-size: 49px;
                                }
                            }
                            .row:last-child {
                                .col {
                                    span {
                                        padding-bottom: 2px;
                                        border-bottom: 7px solid $as-blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        desktop-menu {
            display: flex;
            justify-content: flex-end;
            width: 80%;
            >.row {
                justify-content: flex-end;
                .anchor-pad {
                    dropdown-menu {
                        position: absolute;
                        top: 1.9em;
                        box-shadow: 0 0 38px 4px black;
                        background-color: rgba(0, 0, 0, 0.9);
                        /*background-color: blue;*/
                        >.container {
                            max-width: 170px;
                            .title {
                                .col {
                                    span {
                                        font-size: 14px !important;
                                    }
                                }
                            }
                            >.row {
                                .col {
                                    margin-bottom: 1rem;
                                    span {
                                        font-size: 21px;
                                        padding-bottom: 0.2rem;
                                    }
                                }
                            }
                            .bj {
                                .col {
                                    span {
                                        border-bottom: 3px solid $as-green;
                                    }
                                }
                            }
                            .ib {
                                .col {
                                    span {
                                        border-bottom: 3px solid $as-yellow;
                                    }
                                }
                            }
                            .la {
                                .col {
                                    span {
                                        border-bottom: 3px solid $as-blue;
                                    }
                                }
                            }
                        }
                    }
                    dropdown-menu.ng-enter,
                    dropdown-menu.ng-leave {
                        transition: all 500ms cubic-bezier(.32, 1, .375, 1);
                    }
                    dropdown-menu.ng-enter,
                    dropdown-menu.ng-leave.ng-leave-active {
                        opacity: 0;
                        /*top: initial;*/
                        // left: -76px;
                    }
                    dropdown-menu.ng-leave,
                    dropdown-menu.ng-enter.ng-enter-active {
                        opacity: 1;
                        /*top: 0;*/
                        // left: -76px;
                    }
                }
                .anchor-pad {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 60px;
                    max-width: 170px;
                    text-align: center;
                    z-index: 999;
                    a {
                        text-align: center;
                        text-decoration: none;
                        >span {
                            .la {
                                color: $as-blue;
                            }
                            .beijing {
                                color: $as-green;
                            }
                            .innsbruck {
                                color: $as-yellow;
                            }
                        }
                    }
                }
            }
        }
    }
    .as-menu.ng-enter,
    .as-menu.ng-leave {
        transition: all 450ms cubic-bezier(.32, 1, .375, 1);
    }
    .as-menu.ng-enter,
    .as-menu.ng-leave.ng-leave-active {
        opacity: 0;
        // position: relative;
        // bottom: 1000px;
        // left: -76px;
    }
    .as-menu.ng-leave,
    .as-menu.ng-enter.ng-enter-active {
        opacity: 1;
        // bottom: 17px;
        // left: -76px;
    }
}

@media(min-width: 375px) {
    nav .as-nav .logo a .line {
        width: 2.45rem;
        bottom: 1.83rem;
    }
}

@media(min-width: 420px) {
    nav .as-nav .logo a .line {
        width: 2.6rem;
        bottom: 1.96rem;
    }
}

@media (min-width: 1024px) {
    nav {
        // margin-top: 2.57%;
        width: 100%;
        text-align: left;
        z-index: 2;
        .as-nav {
            * {
                font-size: 1em;
                color: white;
                // margin-right: 72px;
            }
            i {
                font-size: 1.904em;
                margin-right: 0;
            }
            .logo {
                margin-left: 1rem;
                max-width: 4.13%;
                min-width: 58.6px;
                margin-top: 1rem;
                a {
                    img {
                        width: 100%;
                    }

                    .line {
                        bottom: 1.9rem;
                        left: 1.5rem;
                    }
                }
            }

            .search {
                right: 2.25rem;
            }

            .hamburger {
                right: 1.5rem;
            }
            desktop-menu {
                display: flex;
                justify-content: flex-end;
                width: 80%;
                >.row {
                    justify-content: flex-end;
                    .anchor-pad {
                        dropdown-menu {
                            top: 2.1rem;
                        }
                    }
                }
            }
            // .as-menu {
            //     // position: absolute;
            //     text-align: center;
            //     display: flex;
            //     justify-content: flex-end;
            //     // margin-right: 7vw;
            // }
            // .anchor-pad {
            //     a {
            //         text-decoration: none;
            //     }
            // }
            .search,
            .hamburger {
                top: 2.4rem;
            }
            // .hamburger {
            //     position: absolute;
            //     text-align: center;
            //     top: 0;
            //     display: flex;
            //     align-items: center;
            //     right: 1rem;
            //     // left: -27px;
            // }
            a.disabled {
                color: grey;
            }
        }
    }
}

@media(min-width:1440px) {
    nav {
        .as-nav {
            .logo {
                margin-left: 2rem;
                margin-top: 2rem;

                a {
                    .line {
                        left: 2.54rem;
                        bottom: 1.95rem;
                    }
                }
            }

            .search,
            .hamburger {
                top: 2.8rem;
            }
            desktop-menu {
                >.row {
                    .anchor-pad {
                        dropdown-menu {
                            top: 45px;
                        }
                    }
                }
            }
        }
    }
}
