<div class="container">
	<div class="row floating-title">
		<div class="col title">
			<span>MUSIC FROM...</span>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="artist in cc.artists" ng-click="cc.stateChange('app.artist', artist.ref)" class="col">
			<div class="container">
				<div class="row full-image">
					<div class="col image">
						<img ng-src="{{artist.img_yellow}}" alt="">
					</div>
				</div>
				<div class="row floating-name">
					<div class="col name">
						<span>{{artist.name | uppercase}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>