<div class="container">
    <div class="row nopad">
        <div class="col" ng-class="{'overlay': cc.overlay}" ng-click="cc.stateChange(cc.athlete.ref)" ng-mouseenter="cc.overlay = true" ng-mouseleave="cc.overlay = false">
            <img ng-src="{{cc.athlete.img_portrait}}" alt="">
        </div>
        <div class="col">
            <div class="container">
                <div class="row nopad">
                    <div class="col">
                        <span>0{{cc.index + 1}}</span>
                    </div>
                </div>
                <div class="row nopad">
                    <div class="col">
                        <span>{{cc.athlete.name.first}} {{cc.athlete.name.last}}</span>
                    </div>
                </div>
                <div class="row nopad">
                    <div class="col">
                        <span>{{cc.athlete.nation}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row nopad">
                    <div ng-repeat="(key, val) in cc.athlete.scores[cc.year]" ng-if="key != 'overall'" class="col">
                        <div class="row nopad">
                            <div class="col">
                                <span>{{key | uppercase}}</span>
                            </div>
                        </div>
                        <div class="row nopad">
                            <div class="col">
                                <span>{{val.score}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row nopad" ng-if="cc.athlete.scores[cc.year].overall != 0">
                    <div class="col">
                        <span>{{cc.athlete.scores[cc.year].overall}}</span>
                    </div>
                </div>
                <div class="row nopad" ng-if="cc.athlete.scores[cc.year].overall != 0">
                    <div class="col">
                        <span>TOTAL</span>
                    </div>
                </div>
                <div class="row nopad no-margin" ng-if="cc.athlete.scores[cc.year].overall == 0">
                    <div class="col">
                        <span>DNC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
