home-carousel {
    position: relative;
    >.container {
        overflow: inherit;
        padding-top:1rem;

        .row .col .slider {
            overflow: inherit;
            height: 100%;


            .slider-slides {


                ion-slide {
                    height: 40em;
                    text-align: center;
                    .title-container {
                        position: relative;
                        .title {
                            .col {
                                span {
                                    span {
                                        color: $as-blue;
                                        font-size: 2rem !important;
                                    }
                                }
                            }
                        }
                    }
                }

                ion-slide:nth-child(n + 2) {
                    position: relative;
                    // height: 534px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    .hero-image {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-size: 100%;
                        /* background-position-x: 0px; */
                        background-position-y: -23px;
                        filter: grayscale(100%);
                    }
                    .darken {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                    .container {
                        padding-top:31%;
                        height: 100%;
                        * {
                            // z-index: 4;
                            filter: grayscale(0);
                        }
                        .title {
                            margin-bottom: 0rem;
                            line-height: 3rem;
                            .col span {
                                min-height: 183px;
                                font-size: 55px;
                            }
                        }
                        .content {
                            position: relative;
                            top: 5rem;
                            // line-height: 3rem;
                            // margin-bottom: 32px;
                            .col {
                                text-align: center;
                                span {
                                    font-family: 'Apercu';
                                    letter-spacing: 6px;
                                    font-weight: bold;
                                    font-size: 3.57em;
                                    color: white;
                                    line-height: 1px;
                                }
                                span.sale {
                                    font-family: 'Reglo-Bold';
                                    letter-spacing: 0;
                                    font-size: 3.5em;
                                }
                            }
                        }
                        .buttons {
                            position: absolute;
                            bottom:4rem;
                            display: flex;
                            justify-content: center;

                            .col {
                                display: flex;
                                flex-flow: row wrap;
                                justify-content: center;
                                button {
                                    font-family: 'Apercu';
                                    width: 87%;
                                    height: 56px;
                                    font-size: 22px;
                                    letter-spacing: 1.8px;
                                }
                                button:first-child {
                                    border: solid 2px $as-blue;
                                    background-color: transparent;
                                    color: white;
                                    // margin-right: 18px;
                                    transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                    transition-delay: all 1s;
                                    margin-bottom: 1rem;
                                }
                                button:first-child:hover {
                                    border: none;
                                    background-color: $as-blue;
                                    color: black;
                                }
                                button:last-child {
                                    border: none;
                                    background-color: $as-blue;
                                    color: black;
                                    transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                    transition-delay: all 1s;
                                }
                                button:last-child:hover {
                                    border: solid 2px $as-blue;
                                    background-color: transparent;
                                    color: white;
                                }
                            }
                        }
                    }
                }

                ion-slide:nth-child(3) {
                    .container {
                        padding-top: 31%;

                        .title {
                            .col {
                                span {
                                    font-size: 62px;
                                }
                            }
                        }

                        .content {
                            top: 5rem;
                        }
                    }
                }
                
                .la-lineup  > .container {
                    padding-top: 30%;
                    .title-container {

                        .title {
                            margin-bottom: 0.1rem;
                        }
                        .title:first-child {
                            font-size: 10vw;
                        }

                        .title:nth-child(2) {
                            font-size: 6vw;
                        }

                        .title:nth-child(n + 3) {
                            font-size:5.5vw;
                            letter-spacing: -0.03rem;
                        }

                        .title:nth-child(4) {
                            letter-spacing: -0.025rem;
                        }

                        .title:nth-child(5) {
                            letter-spacing: -0.13rem;
                        }

                    }

                    .plus {
                        margin-top: 1rem;
                        margin-bottom: 1rem;

                        .col {
                            display: flex;
                            justify-content: center;
                            
                            button {
                                width: 7rem;
                                border: none;
                                border: 2px solid white;

                                a {
                                    text-decoration: none;
                                }
                            }

                            .left {
                                margin-right: 4vw;
                            }

                            .right {
                                margin-left: 4vw;
                            }
                        }
                    }

                    .content {
                        .col {
                            p {
                                color: $as-blue;
                                font-size: 4vw;
                                padding: 0 2rem;
                                letter-spacing: 0.05rem
                            }
                        }
                    }
                }
            }

            .slider-pager {
                bottom: -525px;
                .slider-pager-page {
                    width: 20px;
                    height: 20px;
                    border: 2px solid white;
                    margin-right: 20px;
                    // z-index: 1;
                    i {
                        // z-index: -1;
                        opacity: 0;
                        // background-color: white;
                    }
                }
                .slider-pager-page.active {
                    i {
                        // z-index: -1;
                        opacity: 1;
                        width: 18.5px;
                        height: 18.5px;
                        background-color: #40caff;
                        position: relative;
                        float: left;
                        top: 3px;
                        left: 3px;
                        transition: all 350ms ease-in;
                    }
                }
            }
        }
    }
}

@media(min-width:500px) {
    home-carousel {
        .container .row .col .slider .slider-slides {
            .la-lineup {
                .container {
                    .content {
                        .col {
                            p {
                                font-size: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:640px) {
    home-carousel {
        .container .row .col .slider .slider-slides {
            ion-slide {
                text-align: center;
                .title-container {
                    .title {
                        .col {
                            span {
                                span {
                                    color: $as-blue;
                                    font-size: 2rem !important;
                                }
                            }
                        }
                    }
                }
            }
            
            .la-lineup  .container {
                    .title-container {

                        .title {
                            margin-bottom: 1rem;
                            height: 6.22vw;
                        }
                        .title:first-child {
                            font-size: 64px;
                            .col {
                                letter-spacing: 0.4vw;
                                word-spacing: 0.13rem;

                            }
                        }

                        .title:nth-child(2) {
                            .col {
                                word-spacing: 0.31rem;

                            }
                            // font-size: 46px;
                        }

                        .title:nth-child(n + 3) {
                            .col {
                                letter-spacing: 0.13rem;
                                word-spacing: -0.031rem;
                            }
                            font-size:36px;
                        }

                        .title:nth-child(4) {
                            .col {
                                letter-spacing: -0.025rem;

                            }
                        }

                    }
            }
        }
    }
}

@media (min-width: 768px) {
    home-carousel {
        .container .row .col .slider .slider-slides {
            
            .la-lineup  .container {
                .title-container {

                    .title:nth-child(2) {
                        // word-spacing: 0.31rem;
                        font-size: 46px;
                    }
                }
            }
        }
    }

}

@media (min-width: 1024px) {
    home-carousel {
        display: block;
        >.container {
            overflow: hidden;
            // height: 53.51em;
            .row .col {
                .slider {
                    .slider-slides {
                        ion-slide {
                            height: 53em;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                            align-items: center;
                            .hero-image {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                background-size: cover !important;
                                /* background-position-x: 0px; */
                                background-position-y: -23px;
                            }
                            > .container {
                                margin-top: 2rem;
                                * {
                                    // z-index: 4;
                                    filter: grayscale(0);
                                }
                                .title {
                                    height: 69px !important;
                                    .col span {
                                        font-size: 64px;
                                    }
                                }
                                .content {
                                    position: static;
                                    top: initial !important;
                                    height: 59px;
                                    margin-bottom: 32px;
                                    .col {
                                        text-align: center;
                                        span {
                                            font-family: 'Apercu';
                                            letter-spacing: 6px;
                                            font-weight: bold;
                                            font-size: 3.57em;
                                            color: white;
                                            line-height: 1;
                                        }
                                        span.sale {
                                            font-family: 'Reglo-Bold';
                                        }
                                    }
                                }
                                .buttons {
                                    position: relative !important;
                                    bottom: 0 !important;
                                    .col {
                                        display: flex;
                                        flex-flow: row wrap;
                                        justify-content: center;
                                        button {
                                            font-family: 'Apercu';
                                            width: 166px !important;
                                            height: 56px;
                                            font-size: 22px;
                                            letter-spacing: 1.8px;
                                        }
                                        button:first-child {
                                            border: solid 2px $as-blue;
                                            background-color: transparent;
                                            color: white;
                                            margin-right: 18px;
                                            transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                            transition-delay: all 1s;
                                        }
                                        button:first-child:hover {
                                            border: none;
                                            background-color: $as-blue;
                                            color: black;
                                        }
                                        button:last-child {
                                            border: none;
                                            background-color: $as-blue;
                                            color: black;
                                            transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                            transition-delay: all 1s;
                                        }
                                        button:last-child:hover {
                                            border: solid 2px $as-blue;
                                            background-color: transparent;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        ion-slide {
                            .hero-image {
                                filter: grayscale(100%);
                            }
                        }

                        ion-slide:nth-child(n + 2) {
                            .container {
                                padding-top: 18%;

                                .title {
                                    .col {
                                        span {
                                            font-size: 64px !important;
                                        }
                                    }
                                }
                            }
                        }
                        .la-lineup {
                            >.container {
                                padding-top: 10%;
                                text-align: center;
                                .title-container {
                                    max-width: 714px;
                                    margin-bottom: 25px;
                                    margin: 0 auto;
                                    text-align: center;

                                    .title {
                                        margin-bottom: 0;
                                        .col {
                                            span {
                                                font-size: 40px;
                                                .blue-dot {
                                                    font-size: 50px;
                                                    color: $as-blue;
                                                }
                                            }
                                        }
                                    }
                                    .title:first-child {
                                        .col {
                                            letter-spacing: 6px;
                                            word-spacing: 2px;
                                            span {
                                                font-size: 64px;
                                            }
                                        }
                                    }
                                    .title:nth-child(2) {
                                        .col {
                                            word-spacing: 5px;
                                            span {
                                                font-size: 47px;
                                            }
                                        }
                                    }
                                    .title:nth-child(3) {
                                        .col {
                                            letter-spacing: 2px;
                                            word-spacing: -0.5px;
                                            span {
                                                font-size: 36.5px;
                                            }
                                        }
                                    }
                                    .title:nth-child(4) {
                                        .col {
                                            letter-spacing: 2px;
                                            word-spacing: 0px;
                                            span {
                                                font-size: 36px;
                                            }
                                        }
                                    }
                                    .title:nth-child(5) {
                                        .col {
                                            letter-spacing: -1px;
                                            span {
                                                font-size: 36.8px;
                                            }
                                        }
                                    }
                                }
                                .plus {
                                    margin-top: -25px;
                                    margin-bottom: 25px;

                                    .col {
                                        display: flex;
                                        justify-content: center;
                                        button {
                                            border: none;
                                            border: 3px solid white;
                                            width: 24%;
                                            font-size: 17px;
                                        }

                                        .left {
                                            margin-right: 20%;

                                            a {
                                                text-decoration: none;
                                            }
                                        }

                                        .right {
                                            margin-left: 20%;
                                            a {
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                                .content {
                                    position: static;
                                    top: initial;
                                    margin-bottom: 3px;
                                    .col {
                                        p {
                                            font-size: 20px;
                                            font-family: 'Reglo-Bold';
                                            letter-spacing: 1.8px;
                                            color: $as-blue;
                                            line-height: 1;
                                        }
                                    }
                                }
                                .date {
                                    margin-bottom: 2rem;
                                    .col {
                                        span {
                                            font-size: 18px;
                                            letter-spacing: 1.7px;
                                            font-family: 'Reglo-Bold';
                                            // color: white;
                                        }
                                    }
                                }
                            }
                            .shape {
                                font-size: 30px;
                                position: absolute;
                            }

                            .shape:nth-child(2) {
                                height: 193px;
                                left: 0%;
                                top: 43%;
                            }
                            img:nth-child(3) {
                                left: 9%;
                                top: 43%;
                                height: 193px;
                            }
                            img:nth-child(4) {
                                left: 4%;
                                top: 89%;
                                height: 132.6px;
                            }
                            img:nth-child(5) {
                                height: 198px;
                                left: 12%;
                                top: 85%;
                            }
                            img:nth-child(6) {
                                height: 101.2px;
                                left: 26%;
                                top: 92%;
                            }
                            .shape:nth-child(7) {
                            height: 57px;
                                right: 21%;
                                top: 97%;
                            }
                            img:nth-child(8) {
                                height: 75.5px;
                                right: 10%;
                                top: 85%;
                            }
                            img:nth-child(9) {
                                height: 176px;
                                right: 7%;
                                top: 45%;
                            }
                            img:nth-child(10) {
                                height: 83.5px;
                                right: 3%;
                                top: 58%;
                            }
                            img:nth-child(11) {
                                height: 117.6px;
                                right: 2%;
                                top: 88%;
                            }
                        }
                    }
                    .slider-pager {
                        bottom: 20px;
                        .slider-pager-page {
                            width: 20px;
                            height: 20px;
                            border: 2px solid white;
                            margin-right: 20px;
                            // z-index: 1;
                            i {
                                // z-index: -1;
                                opacity: 0;
                                // background-color: white;
                            }
                        }
                        .slider-pager-page.active {
                            i {
                                // z-index: -1;
                                opacity: 1;
                                width: 18.5px;
                                height: 18.5px;
                                background-color: #40caff;
                                position: relative;
                                float: left;
                                top: 3px;
                                left: 3px;
                                transition: all 350ms ease-in;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    home-carousel > .container .row .col .slider .slider-slides .la-lineup {
        .shape:nth-child(2) {
            left: 1px;
            top: 315px;
        }
        img:nth-child(3) {
            left: 126px;
            top: 315px;
        }
        img:nth-child(4) {
            left: 56px;
            top: 656px;
        }
        img:nth-child(5) {
            left: 190px;
            top: 594px;
        }
        img:nth-child(6) {
            left: 376px;
            top: 687px;
        }
        .shape:nth-child(7) {
            left: 1054px;
            top: 714px;
        }
        img:nth-child(8) {
            left: 1215px;
            top: 600px;
        }
        img:nth-child(9) {
            left: 1276px;
            top: 333px;
        }
        img:nth-child(10) {
            left: 1334px;
            top: 425px;
        }
        img:nth-child(11) {
            left: 1359px;
            top: 638px;
        }

    }
}





