<div class="container">
	<div class="row">
		<div class="col">
			<ion-slide-box>
				<ion-slide ng-repeat="slide in cc.slideContent">
					<div class="container">
						<div class="row title">
							<div class="col">
								<span>{{slide.title}}</span>
							</div>
						</div>
						<div class="row content">
							<div class="col">
								<span>{{slide.content}}</span>
							</div>
						</div>
						<div class="row buttons">
							<div class="col">
								<button ng-repeat="button in slide.buttons" ui-sref="{{button.dest}}">{{button.label}}</button>
							</div>
						</div>
					</div>
				</ion-slide>
			</ion-slide-box>

		</div>
	</div>
</div>