home-carousel {
    display: block;
    >.container {
        height: 53.51em;
        .row .col {
            .slider {
                .slider-slides {
                    ion-slide {
                        height: 53.51em;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        .hero-image {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            background-size: 100% !important;
                            /* background-position-x: 0px !important; */
                            background-position-y: -23px !important;
                        }
                        .darken {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            background-color: rgba(0, 0, 0, 0.75) !important;
                        }
                        .container {
                            * {
                                z-index: 4;
                                filter: grayscale(0);
                            }
                            .title {
                                height: 69px;
                                .col span {
                                    font-size: 64px;
                                }
                            }
                            .content {
                                height: 59px;
                                margin-bottom: 32px;
                                .col {
                                    text-align: center;
                                    span {
                                        font-family: 'Apercu';
                                        letter-spacing: 6px;
                                        font-weight: bold;
                                        font-size: 3.57em;
                                        color: white;
                                        line-height: 1;
                                    }
                                    span.sale {
                                        font-family: 'Reglo-Bold';
                                    }
                                }
                            }
                            .buttons {
                                .col {
                                    display: flex;
                                    flex-flow: row wrap;
                                    justify-content: center;
                                    button {
                                        font-family: 'Apercu';
                                        width: 166px;
                                        height: 56px;
                                        font-size: 22px;
                                        letter-spacing: 1.8px;
                                    }
                                    button:first-child {
                                        border: solid 2px $as-blue;
                                        background-color: transparent !important;
                                        color: white;
                                        margin-right: 18px;
                                        transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                        transition-delay: all 1s;
                                    }
                                    button:first-child:hover {
                                        border: none;
                                        background-color: $as-blue !important;
                                        color: black;
                                    }
                                    button:last-child {
                                        border: none;
                                        background-color: $as-blue !important;
                                        color: black;
                                        transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                        transition-delay: all 1s;
                                    }
                                    button:last-child:hover {
                                        border: solid 2px $as-blue;
                                        background-color: transparent !important;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    ion-slide {
                        .hero-image {
                            filter: grayscale(100%);
                        }
                    }
                    .la-lineup {
                        >.container {
                            margin-top: 10%;
                            text-align: center;
                            .title-container {
                                max-width: 714px;
                                margin-bottom: 25px !important;
                                margin: 0 auto;
                                text-align: center;
                                .row+.row {
                                    margin-top: -15px;
                                }
                                .title {
                                    .col {
                                        span {
                                            font-size: 40px;
                                            .blue-dot {
                                                font-size: 50px !important;
                                                color: $as-blue;
                                            }
                                        }
                                    }
                                }
                                .title:first-child {
                                    .col {
                                        letter-spacing: 6px;
                                        word-spacing: 2px;
                                        span {
                                            font-size: 64px;
                                        }
                                    }
                                }
                                .title:nth-child(2) {
                                    .col {
                                        word-spacing: 5px;
                                        span {
                                            font-size: 46px;
                                        }
                                    }
                                }
                                .title:nth-child(3) {
                                    .col {
                                        letter-spacing: 2px;
                                        word-spacing: -0.5px;
                                        span {
                                            font-size: 36px;
                                        }
                                    }
                                }
                                .title:nth-child(4) {
                                    .col {
                                        letter-spacing: 2px;
                                        word-spacing: 0px;
                                        span {
                                            font-size: 36px;
                                        }
                                    }
                                }
                                .title:nth-child(5) {
                                    .col {
                                        letter-spacing: -1px;
                                        span {
                                            font-size: 36px;
                                        }
                                    }
                                }
                            }
                            .plus {
                                margin-top: -25px;
                                margin-bottom: 25px !important;

                                .col {
                                    display: flex;
                                    justify-content: center;
                                    button {
                                        border: none;
                                        border: 3px solid white;
                                        width: 24%;
                                        font-size: 17px;
                                    }

                                    .left {
                                        margin-right: 20%;

                                        a {
                                            text-decoration: none;
                                        }
                                    }

                                    .right {
                                        margin-left: 20%;
                                        a {
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                            .content {
                                margin-bottom: 86px;
                                .col {
                                    p {
                                        font-size: 20px;
                                        font-family: 'Reglo-Bold';
                                        letter-spacing: 1.8px;
                                        color: $as-blue;
                                        line-height: 1;
                                    }
                                }
                            }
                            .date {
                                .col {
                                    span {
                                        font-size: 18px;
                                        letter-spacing: 1.7px;
                                        font-family: 'Reglo-Bold';
                                        // color: white;
                                    }
                                }
                            }
                        }
                        .shape {
                            font-size: 30px;
                            position: absolute;
                        }

                        .shape:nth-child(2) {
                            left: 1px;
                            top: 315px;
                            height: 193px;
                        }
                        img:nth-child(3) {
                            left: 126px;
                            top: 315px;
                            height: 193px;
                        }
                        img:nth-child(4) {
                            height: 132.6px;
                            left: 56px;
                            top: 656px;
                        }
                        img:nth-child(5) {
                            height: 198px;
                            left: 190px;
                            top: 594px;
                        }
                        img:nth-child(6) {
                            height: 101.2px;
                            left: 376px;
                            top: 687px;
                        }
                        .shape:nth-child(7) {
                           height: 57px;
                            left: 1054px;
                            top: 714px;
                        }
                        img:nth-child(8) {
                            height: 75.5px;
                            left: 1215px;
                            top: 600px;
                        }
                        img:nth-child(9) {
                            height: 176px;
                            left: 1276px;
                            top: 333px;
                        }
                        img:nth-child(10) {
                            height: 83.5px;
                            left: 1334px;
                            top: 425px;
                        }
                        img:nth-child(11) {
                            height: 117.6px;
                            left: 1359px;
                            top: 638px;
                        }
                    }
                }
                .slider-pager {
                    margin-bottom: 97px;
                    .slider-pager-page {
                        width: 20px !important;
                        height: 20px !important;
                        border: 2px solid white;
                        margin-right: 20px;
                        z-index: 1;
                        i {
                            z-index: -1;
                            opacity: 0;
                            // background-color: white !important;
                        }
                    }
                    .slider-pager-page.active {
                        i {
                            z-index: -1;
                            opacity: 1;
                            width: 18.5px !important;
                            height: 18.5px !important;
                            background-color: #40caff !important;
                            position: relative;
                            float: left;
                            top: 3px;
                            left: 3px;
                            transition: all 350ms ease-in;
                        }
                    }
                }
            }
        }
    }
}