.faq-view {
    ion-content {
        .scroll {
            > .container {
                height: 19rem;
                padding-top: 13rem;
                .title-row {
                    margin-bottom: 1rem;

                    .title {
                        display: flex;
                        justify-content: center;
                        font-size: 40px;

                        span {
                            border-bottom: 8px solid $as-yellow;
                            padding-bottom: 15px;
                            font-size: 64px;
                        }
                    }
                }
            }
        }
    }
}