<ion-view class="faq-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container">
            <div class="row title-row">
                <div class="col title">
                    <span>FAQS</span>
                </div>
            </div>
        </div>
        <faq-general></faq-general>
        <faq-banlist></faq-banlist>
        <faq-footer></faq-footer>
        <download-app></download-app>
        <footer></footer>
    </ion-content>
</ion-view>