artist-hero {
    position: relative;

    > .container {
            height: 120vw;
            position: relative;
            max-height: 60%;
            display: flex;
            justify-content: center;
        .hero {
            margin: 0 auto;
            background-size: contain !important;
            filter: grayscale(100%);
            width: 100vw;
            height: 100%;
            top: 0;
            background-position: center bottom !important;
            background-repeat: no-repeat !important;
            position: absolute;
            top: 0;

        }
        > .row {
            position: absolute;
            bottom: 2vw;
            * {
                filter: grayscale(0) !important;
            }
            > .col {
                display: flex;
                justify-content: flex-end;
                // padding-right: 8vw;
                > .container {
                    min-width: 300px;
                    text-align: right;
                    margin-right: 3vw;

                    .artist-name {
                        margin-bottom: 3rem;

                        .col {
                            font-size: 64px;

                            span {
                                border-bottom: 8px solid $as-yellow;
                                font-size: 9vw;
                            }
                        }
                    }

                    .artist-time {
                        display: block;
                        margin-bottom: 1rem;

                        .col {
                            font-size: 19px;
                            color:#424242
                        }
                    }

                    .cta {
                        .col {
                            button {

                                border: none;
                                width: 50%;
                                max-width: 200px;
                                height: 2rem;
                                background-color: #40caff;
                                font-size: 0.8rem;
                                font-family: 'Apercu';
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    > .container {
        transition: all 450ms cubic-bezier(.32,1,.375,1);
    }
}

@media(min-width:420px) {
    artist-hero {
        > .container {
            // height: 80vw;
            .hero {
            }
            
        }
    }
}
@media(min-width:768px) {
    artist-hero {
        > .container {
            
            > .row {

                > .col {
                    > .container {

                        .artist-name {
                            .col {
                                span {
                                    font-size: 64px;
                                }
                            }
                        }
                        .artist-time {
                            display: block;
                            margin-bottom: 1rem;

                            .col {
                                font-size: 30px;
                                color:#424242
                            }
                        }

                        .cta {
                            .col {
                                button {
                                    width: 80%;
                                    height: 3rem;
                                    font-size: 1.3rem;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:1024px) {
    artist-hero {
        > .container {
            // height: 
        }
    }
}

@media(min-width:1440px) {
    artist-hero {
        > .container {
            .hero {
                // background-size: 100% !important;
                // max-width: 100%;
                // background-repeat: no-repeat !important;
            }

            > .row {
            }
        }
    }
}

