<div class="container">
    <div class="hero" style="background:  url({{cc.artist.img_landscape}})"></div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row artist-name">
                    <div class="col">
                        <span>{{cc.artist.name | uppercase}}</span>
                    </div>
                </div>
                <div class="row artist-time">
                    <div class="col">
                        <span>{{cc.artist.location | uppercase}}</span>
                    </div>
                    <div class="col">
                        <span>{{cc.artist.time | uppercase}}</span>
                    </div>
                </div>
                <div class="row cta">
                    <div class="col">
                        <button>Add to Schedule</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>