home-footer {
    > .container {
        margin-top: 61px;
        height: 113px;
        background-color: white !important;
        .footer {
            .container a, .container span {
                color: black !important;
                font-size: 16px;
                font-family: 'Apercu';
                text-decoration: none;
                
            }
            height: 100%;
            justify-content: center;
            align-items: center;

            .container {
                width: 100%;
                .about {
                    margin-left: 40px;
                    margin-right: 50px;
                }

                .contact {
                    margin-right: 341px;
                }

                .facebook {
                    margin-right: 92px;
                }

                .twitter {
                    margin-right: 83px;
                }

                .instagram {
                    margin-right: 82px;
                }

                .youtube {
                    margin-right: 202px;
                }
            }
        }


    }
}