<div class="container">
	<div class="row copy">
		<div class="container">
			<a href="">About</a>
			<a href="">Contact</a>
		</div>
	</div>
	<div class="row social">
		<div class="container">
			<a href="">
				<img src="../img/facebook.png" alt="">
			</a>
			<a href="">
				<img src="../img/twitter.png" alt="">
			</a>
			<a href="">
				<img src="../img/instagram.png" alt="">
			</a>
			<a href="">
				<img src="../img/youtube.png" alt="">
			</a>
		</div>
	</div>
	<div class="row copyright">
		<div class="container">
			<span>© Copyright 2016 Air+Style</span>
		</div>
	</div>
</div>