home-partner {
    > .container {
        margin-bottom: 94px;
        .section-title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;

            .title {
                width: 172px;
                height: 48px;
                border-bottom: 8px solid $as-green;
                padding-bottom: 10px;

                span {
                    font-size: 40px;
                    position: relative;
                }
            }
        }

        .partner-container {
            width: 100%;
            .container {
                width: 100%;
                .row {
                    width: 100%;
                    display: block;
                    .partner {
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;

                        a {
                            img {
                                max-height: 120px !important;
                                max-width: 150px;
                            }

                            img:nth-child(-n + 5) {
                                margin-bottom: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    home-partner {
        > .container {
            // margin-top: 108px;

            .section-title {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 60px;

                .title {
                        width: 172px;
                    height: 48px;
                    border-bottom: 8px solid $as-green;
                    padding-bottom: 10px;

                    span {
                        font-size: 40px;
                        position: relative;
                    }
                }
            }

            .partner-container {
                justify-content: center;

                .container {
                    .row {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        margin: 0 auto;
                        width: 86%;
                        .partner:nth-child(-n + 5) {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}