.line-up-view {
    tour-carousel {
        > .container {
            > .row {
                > .col {
                    .slider {
                        .slider-slides {
                            ion-slide {
                                img {
                                    z-index: -1;
                                }
                            }
                        }    
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .line-up-view {
        * {
            tour-carousel {
                > .container {
                    > .row {
                        > .col {
                            .slider {
                                /*padding-top: 144px;*/

                                .slider-slides {
                                    ion-slide {
                                        > .container:first-child {
                                            .title-row {
                                                margin-bottom: 5rem;
                                                .col {
                                                    span {
                                                        font-size: 64px;
                                                        border-bottom: 8px solid $as-yellow;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}