<div ng-class="{'hide-details': cc.showContent !=cc.index}" class="item row nopad" ng-click="cc.showContent == cc.index ? cc.showContent = -1 : cc.showContent = cc.index">
    <div class="col expand nopad">
        <div ng-class="{'details' : cc.showContent == cc.index}" class="circle">
            <span>{{cc.showContent == cc.index ? '-' : '+'}}</span>
        </div>
    </div>
    <div class="col description nopad">
        <div class="row short-description nopad">
            <div class="col nopad">
                <p> {{cc.question.question}} </p>
            </div>
        </div>
    </div>
</div>
<div ng-if="cc.showContent == cc.index" class="row nopad item-info">
    <div class="container answer-container">
        <!--<div class="row title">
            <div class="col">
                <span>ANSWER</span>
            </div>
        </div>-->
        <div class="row answer">
            <div class="col">
                <!-- <span>{{cc.question.answer}}</span> -->
                <span ng-bind-html="cc.question.answer"></span>
                <a ng-if="cc.question.hasPdf" ng-bind-html="cc.question.link" href="../docs/{{cc.question.pdf}}" target="_blank"></a>
            </div>
        </div>
    </div>
    <!--<div ng-if="" class="container notes-container">
        <div class="row notes">
            <div class="col">
                <span>PLEASE NOTE: </span>
            </div>
        </div>
    </div>-->
</div>