.rankings-view {
    ion-content {
        .scroll {
        > .container {
                text-align: center;
                padding: 10rem 0.7rem 0 0.7rem;
                /*height: 100%;*/

                    .title-row {
                    margin-bottom: 2rem;
                    .col {
                        span {
                            font-size: 60px;
                            border-bottom: 8px solid $as-blue;
                        }
                    }
                }
            }
        }
    }

     .hero-image {
        background: url('../img/slide1.jpg');
        background-color: rgba(10, 10, 10, 1) !important;
        background-blend-mode: overlay;
        filter: grayscale(100%);
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        z-index: -1;
        position: absolute;
    }
}

@media(min-width: 1024px) {
    .rankings-view {
        ion-content {
            .scroll {
                > .container {
                    padding-top: 10rem;
                    .title-row {
                        .col {
                            span {
                                font-size: 64px;
                            }
                        }
                    }
                }
            }
        }
    }
}