.rankings-view {
    ion-content {
        .scroll {
        > .container {
                text-align: center;
                padding: 10rem 0.7rem 0 0.7rem;
                /*height: 100%;*/

                    .title-row {
                    margin-bottom: 2rem;
                    .col {
                        span {
                            font-size: 60px;
                            border-bottom: 8px solid $as-blue;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1024px) {
    .rankings-view {
        ion-content {
            .scroll {
                > .container {
                    padding-top: 10rem;
                    .title-row {
                        .col {
                            span {
                                font-size: 64px;
                            }
                        }
                    }
                }
            }
        }
    }
}