<div class="container">
	<div class="row footer">
		<div class="container">
			<div class="row">
				<a class="about" href="">About</a>
				<a class="contact" href="">Contact</a>
			</div>
			<div class="row">
				<a class="facebook" href="https://www.facebook.com/airandstyle">
					<img src="../img/facebook.png" alt="">
				</a>
				<a class="twitter" href="https://twitter.com/airandstyle">
					<img src="../img/twitter.png" alt="">
				</a>
				<a class="instagram" href="https://www.instagram.com/airandstyle">
					<img src="../img/instagram.png" alt="">
				</a>
				<a class="youtube" href="https://www.youtube.com/airandstyle">
					<img src="../img/youtube.png" alt="">
				</a>
			</div>
			<div class="row">
				<span class="copyright">© Copyright 2016 Air+Style</span>
			</div>
		</div>
	</div>
</div>