footer {
    > .container {
        height: 213px;
        // bottom: 94px;
        position: relative;
        background-color: white;
        .footer {
            height: 100%;
            align-items: center;
            .container a,
            .container span {
                color: black;
                font-size: 14px;
                font-family: 'Apercu';
                text-decoration: underline;
            }
            .container {
                width: 100%;
                .row {
                    .about,
                    .contact {
                        margin-right: 1rem;
                    }
                    a {
                        text-decoration: none;
                        cursor: pointer;
                        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                        &.term_condition {
                            border-bottom: 2px solid $as-green;
                        }
                        &:hover {
                            border-bottom: 2px solid #000;
                        }
                    }
                    .facebook {
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        img {
                            height: 28px;
                        }
                    }
                    .twitter {
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        img {
                            height: 22px;
                        }
                    }
                    .instagram {
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        img {
                            height: 28px;
                        }
                    }
                    .youtube {
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        img {
                            height: 22px;
                        }
                    }
                    a.hover {
                        opacity: 0.5;
                        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
                .row:first-child {
                    margin-bottom: 40px;
                }
                .row:nth-child(2) {
                    max-width: 500px;
                    margin: 0 auto 40px auto;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .footer {
        justify-content: center;        
        .container {
            .row {
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1024px) {
    footer {
        > .container {
            margin-top: 61px;
            height: 113px;
            bottom: 0;
            .footer {
                .container {
                    display: flex;
                    .row {
                        a {
                            margin: 0 2rem;
                        }
                    }
                    .row {
                        .about {
                            margin-left: 40px;
                            //margin-right: 50px;
                        }
                        .contact {
                            //margin-right: 341px;
                        }
                        .facebook {
                            // margin-right: 92px;
                        }
                        .twitter {
                            // margin-right: 83px;
                        }
                        .instagram {
                            // margin-right: 82px;
                        }
                        .youtube {
                            // margin-right: 202px;
                        }
                    }
                    .row:first-child {
                        margin-bottom: 0;
                    }
                    .row:nth-child(2) {
                        margin: auto;
                        position: absolute;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        max-width: 260px;
                    }
                    .row:nth-child(3) {
                        justify-content: flex-end;
                        padding-right: 3rem;
                        align-items: center;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
