<div class="container">
	<div class="row footer">
		<div class="container">
			<div class="row">
				<a class="about" ng-click="cc.go('app.about')">About</a>
				<a class="contact" ng-click="cc.go('app.contact')">Contact</a>
				<a class="term_condition" href="../docs/AGB_Air+Style IBK_2017_en.pdf" target="_blank">Terms and Conditions</a>
			</div>
			<div class="row">
				<a class="facebook" ng-class="{'hover': cc.hovered == 'fb'}" href="https://www.facebook.com/airandstyle">
					<img ng-mouseover="cc.hovered = 'fb'" ng-mouseleave="cc.hovered = ''" src="../img/facebook.png" alt="">
				</a>
				<a class="twitter" ng-class="{'hover': cc.hovered == 'tw'}" href="https://twitter.com/airandstyle">
					<img ng-mouseover="cc.hovered = 'tw'" ng-mouseleave="cc.hovered = ''" src="../img/twitter.png" alt="">
				</a>
				<a class="instagram" ng-class="{'hover': cc.hovered == 'in'}" href="https://www.instagram.com/airandstyle">
					<img ng-mouseover="cc.hovered = 'in'" ng-mouseleave="cc.hovered = ''" src="../img/instagram.png" alt="">
				</a>
				<a class="youtube" ng-class="{'hover': cc.hovered == 'yt'}" href="https://www.youtube.com/airandstyle">
					<img ng-mouseover="cc.hovered = 'yt'" ng-mouseleave="cc.hovered = ''" src="../img/youtube.png" alt="">
				</a>
			</div>
			<div class="row">				
				<span class="copyright">© Copyright 2016 Air+Style</span>
			</div>
		</div>
	</div>
</div>