ticket-items {
    >.container {
        margin-top: 3em;
        .content {
            margin-bottom: 1.14em;
        }
        .content.disabled {
            opacity: 0.5;
        }
        .item {
            margin: 0;
            height: 100%;
            min-height: 5.9em;
            background-color: #424242;
            border: none;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;
            .expand {
                max-width: 4.07em;
                justify-content: center;
                display: flex;
                margin: 0 10px;
                align-items: center;
                .circle {
                    width: 1.6em;
                    height: 1.6em;
                    text-align: center;
                    border: 2px solid $as-yellow;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: 22px;
                    }
                }
                .circle.details {
                    border: 2px solid $as-blue;
                }
            }
            .description {
                padding-top: 2.1em;
                align-items: center;
                .row+.row {
                    padding-top: 0.5em;
                }
                .option-name {
                    .col {
                        span {
                            font-size: 2.14em;
                        }
                    }
                }
                .short-description {
                    .col {
                        display: flex;
                        flex-wrap: wrap;
                        span {
                            color: #828282;
                            font-size: 1.14em;
                        }
                    }
                }
            }
            .pricing {
                float: right;
                padding-right: 10px;
            }
            .quantity {
                justify-content: center;
                display: flex;
                align-items: center;
                align-self: flex-start;
                padding-top: 1.1em;
                select {
                    -webkit-appearance: none;
                    -webkit-border-radius: 0;
                    border-radius: 0;
                    height: 2.56em;
                    width: 3.78em;
                    border: 3px solid black;
                    color: black;
                    background-color: white;
                    padding-left: 0.8em;
                    font-size: 18px;
                    padding-top: 0.2em;
                }
                i {
                    color: black;
                    position: relative;
                    right: 1.7em;
                    top: 0.18em;
                }
            }
        }
        .item.selected {
            background-color: $as-yellow;
            * {
                color: black;
            }
        }
        .item-info {
            background-color: #424242;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            padding-top: 2.5em;
            padding-left: 4.07em;
            display: block;
            .swag-container {
                .title {
                    .col {
                        span {
                            font-size: 1.285em;
                            color: #828282;
                        }
                    }
                }
                .swag {
                    display: block;
                    .col {
                        span {
                            font-family: 'Apercu';
                            font-size: 1.14em;
                            color: white;
                        }
                        span:first-child {
                            color: #828282;
                        }
                    }
                }
            }
            .access-container {
                .title {
                    .col {
                        span {
                            font-size: 1.285em;
                            color: #828282;
                        }
                    }
                }
                .access {
                    display: block;
                    .col {
                        span {
                            font-family: 'Apercu';
                            font-size: 1.14em;
                            color: white;
                        }
                        span:first-child {
                            color: #828282;
                        }
                    }
                }
            }
            .logistics-container {
                margin-bottom: 4.07em;
                .title {
                    .col {
                        span {
                            font-size: 1.285em;
                            color: #828282;
                        }
                    }
                }
                .logistics {
                    display: block;
                    .col {
                        span {
                            font-family: 'Apercu';
                            font-size: 1.14em;
                            color: white;
                        }
                        span:first-child {
                            color: #828282;
                        }
                    }
                }
            }
            .notes-container {
                height: 5.714em;
                .notes {
                    .col {
                        span {
                            font-style: italic;
                            font-family: 'Apercu';
                            font-size: 1.14em;
                            color: #828282;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:375px) and (max-width: 550px) {
    ticket-items {
        >.container {
            .item {
                .col-33 {
                    max-width: 50%;
                    flex: 0 0 50%;
                }
                .description {
                    padding-top: 1.1em;
                    .short-description .col span {
                        font-size: 0.83em;
                    }
                    .option-name .col span {
                        font-size: 1.2em;
                    }
                }
                .pricing {
                    font-size: 0.5em;
                }
            }
        }
    }
}

@media (min-width: 550px) {
    ticket-items {
        >.container {
            .row:first-child .col span {
                font-size: 1em;
            }
            .item {
                .col-33 {
                    max-width: 70%;
                    flex: 0 0 70%;
                }
                .description {
                    .short-description .col span {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1124px) {
    ticket-items {
        >.container {
            .item {
                .col-33 {
                    max-width: 80%;
                    flex: 0 0 80%;
                }
            }
        }
    }
}