faq-general {
    > .container {
        margin-bottom: 6rem;
        .title-row {
            margin-bottom: 1rem;

            .title {
                display: flex;
                justify-content: center;
                font-size: 60px;

                span {
                    /*font-family: 'Apercu';*/
                    width: 75%;
                    color: #5f5f5f;
                    padding-bottom: 15px;
                }
            }
        }

    }
}