<ion-view class="rider-index-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container">
            <div class="row title-row">
                <div class="col title">
                    <span>RIDERS</span>
                </div>
            </div>
        </div>
        <avatar-panels avatars="cc.riders" ref="app.rider.details" schedule="false" view="false"></avatar-panels>
        <branding></branding>
        <subscribe></subscribe>
        <footer></footer>
    </ion-content>
</ion-view>