innsbruck-rankings,
.innsbruck-rankings {
    // alex fucking shit up
    .section-title {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 58px; //
        margin-bottom: 58px;
        padding: 0 25px;
        .title {
            margin: 0 auto;
            width: 90.9vw;
            font-size: 30px;
            text-align: center;
            span {
                border-bottom: 8px solid $as-green;
                font-size: 26px;
            }
        }
    }
    >.container {
        >.row {
            justify-content: center;
            >.col {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                >.container {
                    margin-bottom: 1rem;
                    // padding: 0 3rem;
                    max-width: 300px;
                    flex-flow: row wrap;
                    display: flex;
                    >.row {
                        flex-flow: row wrap;
                        justify-content: center;
                        >.col:first-child {
                            border: 5px solid;
                            height: 121px;
                            min-width: 90px;
                            padding: 0;
                            overflow: hidden;
                            position: relative;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        >.col:nth-child(2) {
                            background-color: #131313;
                            height: 121px;
                            >.container {
                                height: 100%;
                                width: 200px;
                                >.row:first-child {
                                    padding-top: 1rem;
                                    margin-bottom: 1rem;
                                    >.col {
                                        padding: 0;
                                        justify-content: flex-start;
                                        margin-left: 0.5rem;
                                        span {
                                            font-size: 22px;
                                            border-bottom: 3px solid $as-green;
                                        }
                                    }
                                }
                                >.row:nth-child(2) {
                                    margin-bottom: 1rem;
                                    >.col {
                                        padding: 0;
                                        justify-content: flex-start;
                                        margin-left: 0.5rem;
                                        span {
                                            font-size: 22px;
                                            font-weight: bold;
                                            line-height: 1.01;
                                            letter-spacing: 0.1rem;
                                            color: #5f5f5f;
                                            font-family: 'Apercu';
                                        }
                                    }
                                }
                                >.row:nth-child(3) {
                                    >.col {
                                        padding: 0;
                                        justify-content: flex-start;
                                        margin-left: 0.5rem;
                                        span {
                                            font-family: 'Apercu';
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                        >.col:nth-child(3) {
                            padding-top: 0.7rem;
                            background-color: #1f1f1f;
                            min-width: 10rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            >.container {
                                display: flex;
                                flex-direction: row-reverse;
                                >.row:first-child {
                                    height: 30px;
                                    align-items: center;
                                    .col {
                                        display: flex;
                                        justify-content: center;
                                        span {
                                            font-size: 20px;
                                        }
                                    }
                                }
                                >.row:nth-child(2) {
                                    height: 30px;
                                    margin-top: 0;
                                    align-items: center;
                                    margin-right: 1.3rem;
                                    .col {
                                        text-align: center;
                                        span {
                                            font-family: 'Apercu';
                                            font-size: 20px;
                                            font-weight: bold;
                                            letter-spacing: 0.1rem;
                                            color: #5f5f5f;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .more {
            margin: 2rem auto;
            align-content: center;
            justify-content: center;
            padding-top: 0.3rem;
            display: flex;
            max-width: 260px;
            position: relative;
            .col {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    border: 3px solid;
                    height: 50px;
                    width: 150%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-family: 'Apercu';
                    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
                button.border-button {
                    background-color: white;
                    border: none;
                    color: black;
                    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
        }
    }
}

@media(max-width: 600px) {
    innsbruck-rankings,
    .innsbruck-rankings {
        >.container {
            >.row {
                >.col {
                    >.container {
                        >.row {
                            >.col:nth-child(3) {
                                flex: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 600px) {
    innsbruck-rankings {
        >.container {
            >.row {
                >.col {
                    >.container {
                        margin: 1rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 950px) {
    innsbruck-rankings {
        >.container {
            >.row {
                >.col {
                    >.container {
                        max-width: none;
                        >.row {
                            min-width: 10rem;
                            height: 14rem;
                            >.col {
                                height: 100% !important;
                            }
                            >.col:first-child {
                                max-width: 171px;
                                width: initial;
                                img {}
                            }
                            >.col:nth-child(2) {
                                max-width: 14rem;
                                >.container {
                                    >.row:first-child {
                                        margin-bottom: 1rem;
                                    }
                                    >.row:nth-child(2) {
                                        margin-bottom: 1rem;
                                        >.col {
                                            span {
                                                font-size: 28px;
                                            }
                                        }
                                    }
                                    >.row:nth-child(3) {
                                        >.col {
                                            span {
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                            >.col:nth-child(3) {
                                padding-top: 0;
                                max-width: 10rem;
                                flex-direction: row;
                                >.container {
                                    display: block;
                                    >.row:first-child {
                                        height: inherit;
                                        margin-bottom: 1rem;
                                        >.col {
                                            span {
                                                font-size: 35px;
                                            }
                                        }
                                    }
                                    >.row:nth-child(2) {
                                        height: inherit;
                                        margin-right: 0;
                                        >.col {
                                            span {
                                                font-size: 39px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1024px) {
    innsbruck-rankings,
    .innsbruck-rankings {
        >.container {
            .more {}
            .section-title {
                margin-top: 60px;
                margin-bottom: 60px;
                .title {
                    span {
                        font-size: 55px;
                        position: relative;
                    }
                }
            }
        }
    }
}

@media(min-width:1440px) {
    innsbruck-rankings {
        >.container {
            >.row {
                >.col {
                    >.container {
                        padding: 0 10rem;
                        >.row {
                            >.col:first-child {
                                max-width: 250px;
                            }
                            >.col:nth-child(2) {
                                max-width: 14rem;
                            }
                            >.col:nth-child(3) {
                                min-width: 14rem;
                            }
                        }
                    }
                }
            }
            .more {}
        }
    }
}
