<div class="container subscribe-container">
    <div class="row subscribe-1">
        <div class="col subscribe-1-1">
            <div class="container email-container">
                <div class="row email-1">
                    <div class="col email-1-1">
                        <input class="input" id="email" type="text" ng-focus="cc.placeholder = ''" ng-blur="cc.grabText()" placeholder="{{cc.placeholder}}"
                            ng-model="cc.newUserEmail">
                        <button class="submit" ng-click="cc.subscribeUser()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>