<div class="container subscribe-container">
    <div class="row subscribe-1">
        <div class="col subscribe-1-1">
            <div class="container email-container">
                <div class="row email-1">
                    <div class="col email-1-1">
                        <input class="input" type="text" onfocus="this.placeholder=''" onblur="this.placeholder='Don\'t miss a thing! Stay up to date by subscribing to our newsletter'"
                            placeholder="Don't miss a thing! Stay up to date by subscribing to our newsletter" ng-model="cc.newUserEmail">
                        <button class="submit ">Submit</button> {{cc.focus}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>