subscribe {
    .subscribe-container {
        .subscribe-1 {
            .subscribe-1-1 {
                display: flex;
                justify-content: center;
                .email-container {
                    width: 90vw;
                    .email-1 {
                        .email-1-1 {
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                            .input {
                                min-width: 300px;
                                font-family: 'Apercu';
                                border: 1.5px solid grey;
                                padding: 1.5rem;
                                min-height: 3.5rem;
                                width: 30rem;
                                margin-bottom: 1rem;
                            }
                            input[type="text"] {
                                font-size:18px;
                                color: white;
                                text-align: center;
                            }

                            input[placeholder] {
                                font-size: 14px;
                            }

                            .submit {
                                border: none;
                                background-color: #40caff;
                                color: black;
                                font-family: 'Apercu';
                                max-width: 170px;
                                min-width: 160px;
                                font-size: 20px;
                                min-height: 3.5rem;
                                max-height: 3.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:420px) {
    subscribe {
        .subscribe-container {
            .subscribe-1 {
                .subscribe-1-1 {
                    .email-container {
                        .email-1 {
                            .email-1-1 {
                                .submit {
                                    height: 4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}