<div class="container subscribe-container">
    <div class="row subscribe-1">
        <div class="col subscribe-1-1">
            <div class="container email-container">
                <div class="row email-1">
                    <div class="col email-1-1">
                        <input class="input" type="text" placeholder="Don't miss a thing! Stay up to date by subscribing to our newsletter">
                        <button class="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>