<div class="container">
	<div class="row section-title">
		<div class="title">
			<span>FEATURED MERCH</span>
		</div>
	</div>
	<div class="row merchandise nopad">
		<div ng-repeat="merch in cc.merchandiseContent" class="container merchandise-container" ng-click="cc.openMerch()">
			<div class="image">
				<img ng-src="{{merch.image}}" alt="">
			</div>
			<div class="row price">
				<span>$</span>
				<span>{{merch.price}}</span>
			</div>
			<div class=" row name">
				<span>{{merch.name}}</span>
			</div>
		</div>
	</div>
	<div class="row more">
		<div class="col">
			<button ng-mouseover="cc.borderButtonHover = !cc.borderButtonHover" ng-mouseleave="cc.borderButtonHover  = !cc.borderButtonHover"
				ng-class="{'border-button': cc.borderButtonHover}" ng-click="cc.openMerch(merch.ref)">More Merch</button>
		</div>
	</div>
</div>