<div class="row title-row">
    <div class="col title">
        <span>LIVE VIDEO</span>
    </div>
</div>
<div class="container video-container">
    <div class="row">
        <div class="col">
            <!--<div id="eversport-channel-embed" data-embedId="208051"></div>
            <script src="//eversport.tv/sites/all/modules/features/eversport_channel/js/eversport_channel_embed.js"></script>-->
            <iframe class="stream-frame" id="ls_embed_1487298587" src="https://livestream.com/accounts/12139129/events/7023089/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=&autoPlay=true&mute=false"
                width="640" height="360" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
    </div>
</div>
