<div class="container nopad">
	<div class="section-title">
		<span>RIDERS + RANKINGS</span>
	</div>
	<div ng-repeat="player in cc.playerContent" class="container player-container nopad" style="background: url({{player.image}}) 50% -0.5rem / 138%;">
		<div class="container nopad">
			<div class="number">
				<span>
                    0{{$index + 1}}

                </span>
			</div>
			<div class="name">
				<span>{{player.name.first}}</span>
				<span>{{player.name.last}}</span>
			</div>
		</div>
	</div>
	<div class="more">
		<div class="col">
			<button><span>MORE RIDERS + RANKINGS</span></button>
		</div>
	</div>
</div>