ranking-summary {
    > .container {
        margin-bottom: 4.75rem;
        .section-title {
            width: 330px;
            height: 60px;
            text-align: center;
            margin: 2rem auto 3rem auto;

            span {
                position: relative;
                top: 10px;
                font-size: 30px;
                border-bottom: 8px solid $as-blue;
            }
        }

         .player-container {
            margin: 0 auto;
            width: 100%;
            max-width: 300px;
            max-height: 400px;
            height: 151vw;
            border: solid 8px white;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-blend-mode: normal;
            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            //  background-size: contain !important;

            .container {
                height: 120px;
                width: 100%;
                padding-top: 1rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: $as-blue;
                // position: absolute;
                .number {
                    margin-left: 15px;
                    span {
                        font-size: 50px;
                        width: 100%;
                        border-bottom: 4px solid #f9fe17;
                        color:black;
                    }

                }
                .name {
                    margin-left: 1rem;
                    span {
                        color:black;
                        font-size: 40px;
                        font-family: 'Apercu';
                        font-weight: 700;
                        display: block;
                    }

                    span:first-child {
                        margin-bottom: 1.3rem;
                    }

                    span:last-child {
                        margin-bottom: 1.5rem;
                    }
                }
            }
         }

         .player-container.darken {
             background-color: rgba(0, 0, 0, 0.5) !important;
             background-blend-mode: color-dodge;
             transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
         }
        .more {
            margin: 2rem auto;
            align-content: center;
            justify-content: center;
            padding-top: 0.3rem;
            display: flex;
            max-width: 220px;
            position: relative;
            .col {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    border: 3px solid;
                    height: 50px;
                    width: 150%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-family: 'Apercu';
                    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                }

                button.border-button {
                    background-color: white;
                    border: none; 
                    color: black;
                    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
        }
    }
}

@media(min-width: 360px) {
    ranking-summary {
        > .container {
            .player-container {
                margin-bottom: 10vw;
            }
        }
    }
}

@media (min-width: 1024px) {
    ranking-summary {
        > .container {
            height: 88rem;
            margin-top: 5rem;
            .section-title {
                position: absolute;
                right: 129px;

                span {
                    font-size: 40px;
                }
            }

            .player-container {
                margin: 0 0;
                position: relative;
                * {
                    color: black;

                }

                .container {
                    width: 221.3px;
                    height: 152.6px;
                    position: relative;
                      top: -141px;
                     left: 221px;
                    display: block;
                    padding-left: 1.3rem;

                    .number {
                        top: 0.5rem;
                        width: 25px;
                        margin-bottom: 27px;
                        margin-left: 0;
                        position:relative;
                        span {
                            font-size: 22px;
                            
                        }
                    }

                    .name {
                        text-align: left;
                        padding-left: 0;
                        margin-left: 0;
                        letter-spacing: -0.1rem;

                        span {
                            display: block;
                            font-family: 'Apercu';
                            font-weight: 500;
                            font-size: 40px;
                        }

                        span:first-child {
                            margin-bottom: 20px;
                        }
                    }
                }

            }
            div:nth-child(2) {
                left: 6.4vw;
                 top: 3vw;
            }

            div:nth-child(3) {  
                left: 43.7vw;
                 top: -7.2vw;
            }

            div:nth-child(4) {  
                left: 20.8vw;
                top: -4.4vw;;
            }

            .more {
                left: 33vw;
                bottom: 19vw;
            }
        }
    }
}

@media(min-width: 1440px) {
    ranking-summary {
        > .container {
            height: 73rem;
           .more {
                left: 475.2px;
                 bottom: 446.4px;
            }

            div:nth-child(2) {
                left: 120.96px;
            }

            div:nth-child(3) {  
                left: 845.28px;
                top: -246.68px;
            }

            div:nth-child(4) {  
                left: 387.3px;
                top: -300.76px;
            }
        }
    }   
}