<div class="container nopad">
	<div class="section-title">
		<span>RIDERS + RANKINGS</span>
	</div>
	<div ng-repeat="rider in cc.riders" ng-click="cc.stateChange('app.rider.details', rider.ref)" class="container player-container nopad"
		style="background: url({{rider.image}}) 50% -0.5rem / 138%;">
		<div class="container nopad">
			<div class="number">
				<span>
                    0{{$index + 1}}

                </span>
			</div>
			<div class="name">
				<span>{{rider.name.first}}</span>
				<span>{{rider.name.last}}</span>
			</div>
		</div>
	</div>
	<div class="more">
		<div class="col">
			<button ng-click="cc.stateChange('app.rider.all')"><span>MORE RIDERS + RANKINGS</span></button>
		</div>
	</div>
</div>