<div class="container">
    <div class="row">
        <div class="col">
            <div class="row info-container">
                <div class="col">
                    <div class="container info-box">
                        <div ng-repeat="paragraph in cc.artistBioContent.info" class="row paragraph">
                            <div class="col">
                                <span>{{paragraph}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-container">
                <div class="col">
                    <button ng-click="cc.go(cc.artistBioContent.website)">Website</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row spotify-container">
                <div class="col">
                    <div>
                        <iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A4XkhEirR2JZT4fncyOxxtf" width="300" height="380"
                            frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>