tour-carousel {
    position: relative;

    > .container {
        width: 100%;
        min-height: 40em;
        max-height: 53em;

        > .row {
            height: 100%;
            > .col {
                .slider {
                    width: 100%;
                    padding-top: 38vw;
                    height: 100%;

                    .slider-slides {
                        ion-slide {
                            > .container {
                                text-align: center;
                                padding: 0 0.7rem;
                                height: 100%;
                                margin: 0 auto;
                                
                                .lineups {
                                    width: 100%;

                                    .lineup {
                                        margin-bottom: 1rem;

                                        .col {
                                            > span {
                                                .blue-dot {
                                                    color: $as-blue;
                                                }
                                            }
                                        }
                                    }
                                    
                                    .lineup:first-child {
                                        font-size: 9vw;
                                        margin-bottom: 6vw;
                                    }

                                    .lineup:nth-child(2) {
                                        font-size: 5.5vw;
                                          letter-spacing: 0.008rem;
                                    }

                                    .lineup:nth-child(n + 3) {
                                        font-size: 5vw;
                                    }

                                    .lineup:nth-child(3) {
                                        letter-spacing: 0.08rem;
                                    }

                                    .lineup:nth-child(4) {
                                        letter-spacing: 0.056rem;
                                        max-width: 89vw;
                                         margin: 0 auto;
                                    }
                                }

                                .logistics {
                                    > .row {
                                        font-size: 1.4rem;

                                        .col {
                                            span {
                                                color: $as-blue;
                                            }
                                        }
                                    }
                                }

                                .buttons {
                                    .row {
                                        .col {
                                            display: flex;
                                            flex-flow: row wrap;
                                            justify-content: center;
                                            button {
                                                font-family: 'Reglo-Bold';
                                                width: 222px;
                                                height: 56px;
                                                font-size: 22px;
                                                letter-spacing: 1.8px;
                                            }
                                            button:first-child {
                                                border: solid 2px $as-blue;
                                                background-color: transparent;
                                                color: white;
                                                // margin-right: 18px;
                                                transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                                transition-delay: all 1s;
                                                margin-bottom: 2rem;
                                            }
                                            button:first-child:hover {
                                                border: none;
                                                background-color: $as-blue;
                                                color: black;
                                            }
                                            button:last-child {
                                                border: none;
                                                background-color: $as-blue;
                                                color: black;
                                                transition: all 1s cubic-bezier(.23, 1.25, .375, 1.15);
                                                transition-delay: all 1s;
                                            }
                                            button:last-child:hover {
                                                border: solid 2px $as-blue;
                                                background-color: transparent;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }

                            img {
                                position: absolute;
                            }
                        }
                    }

                    .slider-pager {
                        bottom: 1rem;

                        span {
                            margin-right: 2rem;

                            i {
                                color: transparent;
                                border-bottom: 3px solid $as-blue;
                                float: left;
                                width: 35px;

                            }
                        }
                    }
                }
            }
        }

    }
}

@media (min-width: 375px) {
    tour-carousel > .container > .row > .col .slider {
        
        .slider-slides ion-slide > .container {
            .lineups   {
                .lineup:nth-child(3) {
                    letter-spacing: 0.09rem;
                }

                .lineup:nth-child(4) {
                    letter-spacing: 0.061rem;
                }
            }
        } 
    }
}
@media (min-width: 420px) {
    tour-carousel > .container {
        height: 126vw;
        > .row > .col .slider {
            padding-top: 160px;
            
            .slider-slides ion-slide > .container {
                .lineups {

                    .lineup:nth-child(3) {
                        letter-spacing: 0.1rem;
                    }

                    .lineup:nth-child(4) {
                        letter-spacing: 0.07rem;
                        line-height: 1;
                    }

                    .lineup:nth-child(n + 2) {
                        margin-bottom: 6vw;
                    }

                    
                }

                .buttons {
                    > .row {
                        .col {
                            button {
                                width: 171px;
                            }

                            button:first-child {
                                margin-right:1vw;
                            }
                        }
                    }
                }
            } 
        }
    }
}

@media (min-width: 500px) {
    tour-carousel > .container > .row > .col .slider {
        
        .slider-slides ion-slide > .container {
            .lineups {
                .lineup:nth-child(3) {
                    letter-spacing: 0.13rem;
                }

                .lineup:nth-child(4) {
                    letter-spacing: 0.09rem;
                }  
            }
        } 
    }
}

@media (min-width: 600px) {
    tour-carousel > .container > .row > .col .slider {
        
        .slider-slides ion-slide > .container {
            .lineups {
                .lineup:nth-child(2) {
                    letter-spacing: 0.014rem;
                }
                .lineup:nth-child(3) {
                    letter-spacing: 0.15rem;
                }

                .lineup:nth-child(4) {
                    letter-spacing: 0.15rem;
                    line-height: 1;
                    font-size: 29px;
                }  
            }
        } 
    }
}

@media (min-width: 700px) {
    tour-carousel > .container > .row > .col .slider {
        
        .slider-slides ion-slide > .container {
            .lineups {
                .lineup:nth-child(2) {
                    letter-spacing: 0.014rem;
                }
                .lineup:nth-child(3) {
                    letter-spacing: 0.17rem;
                }

                .lineup:nth-child(4) {
                    letter-spacing: 0.35rem;
                }  
            }
        } 
    }
}

@media (min-width: 768px) {
    tour-carousel > .container > .row > .col .slider {
        
        .slider-slides ion-slide > .container {
            .lineups {
                .lineup:nth-child(2) {

                }
                .lineup:nth-child(3) {
                    letter-spacing: 0.19rem;
                    margin-bottom: 4vw;
                }

                .lineup:nth-child(4) {
                    letter-spacing: 0.42rem;
                }  
            }
        } 
    }
}

@media (min-width: 800px) {
    tour-carousel > .container {

        > .row > .col .slider {
            
            .slider-slides ion-slide > .container {
                .lineups {
                    .lineup:first-child {
                        letter-spacing: 0.1rem;
                        word-spacing: -1px;
                    }

                    .lineup:nth-child(2) {
                        letter-spacing: 0.08rem;
                    }

                    .lineup:nth-child(3) {
                        font-size: 42px;
                        letter-spacing: 0.21rem;
                    }
                    
                    .lineup:nth-child(4) {
                        max-width: 93vw;
                        letter-spacing: 0.115rem;
                    }

                }

                .logistics {
                    margin-bottom: 1.3rem;
                }
            }
        }
    } 
}
@media (min-width: 850px) {
    tour-carousel > .container {

        > .row > .col .slider {
            
            .slider-slides ion-slide > .container {
                .lineups {
                    .lineup {
                        margin-bottom: 45px !important; 
                    }
                    .lineup:first-child {
                        font-size: 69px;
                        letter-spacing: 6px;
                    }

                    .lineup:nth-child(2) {
                        letter-spacing: 1.8px;
                        font-size: 47px;
                    }

                    .lineup:nth-child(3) {
                        letter-spacing: 3.8px;
                        font-size: 45px;
                        margin-bottom: 2rem !important;
                    }

                    .lineup:nth-child(4) {
                        max-width: 94vw;
                        letter-spacing: 0.19rem;

                    }
                }
            }
        }
    } 
}

@media (min-width: 1024px) {
    tour-carousel > .container {

        > .row > .col .slider {
            .slider-slides ion-slide {
                > .container .lineups {
                    .lineup {
                        margin-bottom: 45px !important; 
                    }
                    .lineup:first-child {
                        font-size: 69px;
                        word-spacing: -1px;
                    }

                    .lineup:nth-child(3) {
                        font-size: 45px;
                        letter-spacing: 3.8px;
                    }

                    .lineup:nth-child(4) {
                        font-size: 30px;
                        letter-spacing: 2.5px;
                    }

                }

                img {
                    position: absolute;
                }
                .shape:nth-child(2) {
                    height: 193px;
                    left: 0%;
                    top: 43%;
                }
                .shape:nth-child(3) {
                    left: 9%;
                    top: 43%;
                    height: 193px;
                }
                .shape:nth-child(4) {
                    left: 4%;
                    top: 89%;
                    height: 132.6px;
                }
                .shape:nth-child(5) {
                    height: 198px;
                    left: 12%;
                    top: 82%;
                }
                .shape:nth-child(6) {
                    height: 101.2px;
                    left: 26%;
                    top: 92%;
                }
                .shape:nth-child(7) {
                height: 57px;
                    right: 21%;
                    top: 97%;
                }
                .shape:nth-child(8) {
                    height: 75.5px;
                    right: 10%;
                    top: 82%;
                }
                .shape:nth-child(9) {
                    height: 176px;
                    right: 7%;
                    top: 45%;
                }
                .shape:nth-child(10) {
                    height: 83.5px;
                    right: 3%;
                    top: 58%;
                }
                .shape:nth-child(11) {
                    height: 117.6px;
                    right: 2%;
                    top: 88%;
                }
            }
            .slider-pager {
                bottom: 2rem;
            }

        }
    }
}

@media (min-width: 1440px) {
    tour-carousel > .container .row .col .slider .slider-slides .la-lineup {
        .shape:nth-child(2) {
            left: 1px;
            top: 315px;
        }
        img:nth-child(3) {
            left: 126px;
            top: 315px;
        }
        img:nth-child(4) {
            left: 56px;
            top: 656px;
        }
        img:nth-child(5) {
            left: 190px;
            top: 594px;
        }
        img:nth-child(6) {
            left: 376px;
            top: 687px;
        }
        .shape:nth-child(7) {
            left: 1054px;
            top: 714px;
        }
        img:nth-child(8) {
            left: 1215px;
            top: 600px;
        }
        img:nth-child(9) {
            left: 1276px;
            top: 333px;
        }
        img:nth-child(10) {
            left: 1334px;
            top: 425px;
        }
        img:nth-child(11) {
            left: 1359px;
            top: 638px;
        }

    }
}



