<ion-view class="ticket-view">
	<ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
		<!--<ticket-title></ticket-title>
		<ticket-items></ticket-items>
		<ticket-footer></ticket-footer>-->
		<div class="paylogic-container">
			<iframe id="paylogic_shop" src='https://frontoffice.paylogic.nl/?event_id=113594&point_of_sale_id=14403&PlistaDomainID=241545&PlistaCampaignID=249697&PlistaEventID=31&FacebookPixelID=516517678502187&AnalyticsUID=UA695781661'
				scrolling="auto" height="500px" width="600px" text-align="center" name="paymentMenu">
			</iframe>
		</div>
		<footer></footer>
	</ion-content>
</ion-view>