beijing-text {
    .container {
        margin: 0 auto;
        width: 80%;
        .row {
            display: flex;
            justify-content: center;
            .col {
                display: flex;
                justify-content: center;
                span {
                    font-family: 'Apercu';
                    // font-weight: bold;
                    font-size: 20px;

                }
            }
        }
    }
}