partners {
    > .container {
        margin-bottom: 94px;
        .section-title,
        .title-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            .title {
                width: 172px;
                height: 48px;
                padding-bottom: 10px;
                text-align: center;
                span {
                    font-size: 30px;
                    position: relative;
                    border-bottom: 8px solid #62ff00;
                    padding-bottom: 0.75rem;
                }
            }
        }
        .title-row {
            .title {
                width: auto !important;
            }
        }
        .section-title {
            .title {                
                border-bottom: none !important;
                span {
                    font-size: 40px !important;
                    border-bottom: 8px solid $as-yellow;
                }
            }
        }
        .partner-container {
            width: 100%;
            .container {
                width: 100%;
                .row {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    .partner {
                        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                        filter: grayscale(0);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 2rem;
                        min-width: 300px;
                        a {
                            img {
                                // filter: grayscale(100%);
                                max-height: 120px !important;
                                max-width: 150px;
                            }
                            img:nth-child(-n + 5) {
                                margin-bottom: 2rem;
                            }
                        }
                    }
                    .partner:hover {
                        filter: grayscale(100%);
                    }
                    .partner.override-grayscale {
                        filter: grayscale(0) !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    partners {
        > .container {
            // margin-top: 108px;
            .section-title {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 60px;
                .title {
                    width: 172px;
                    height: 48px;
                    border-bottom: 8px solid $as-green;
                    padding-bottom: 10px;
                    span {
                        font-size: 40px;
                        position: relative;
                    }
                }
            }
            .partner-container {
                justify-content: center;
                .container {
                    .row {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        margin: 0 auto;
                        width: 90%;
                        .partner {
                            min-width: 125px;
                        }
                        .partner:nth-child(-n + 5) {
                            // margin-right: 30px;
                        }

                        .partner-info {
                            padding-left: 20px;                            
                            .title, .subtitle {
                                font-family: 'Reglo-Bold';
                            }
                            .subtitle, .descrition, .contact-info {                                
                                font-size: 12px;
                            } 
                            .description, .contact-info {
                                font-family: 'Apercu';
                                span {
                                    font-family: 'Apercu';
                                }                                
                            }
                            a {
                                font-family: 'Apercu';
                                color: $as-blue;
                                //text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
