<div class="container">
	<div class="row section-title">
		<div class="title">
			<span>PARTNERS</span>
		</div>
	</div>
	<div class="row partner-container">
		<div class="container">
			<div class="row">
				<div ng-class="{'override-grayscale': cc.touchScreen}" class="partner" ng-repeat=" partner in cc.partnerContent">
					<a href="{{partner.link}}">
						<img ng-click="cc.open(partner.link)" style="height:{{partner.dim}}px;" ng-src="{{partner.img}}" alt="">
</a>
</div>
</div>
</div>
</div>
</div>