partners {
    > .container {
        margin-bottom: 94px;
        .section-title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;

            .title {
                width: 172px;
                height: 48px;
                padding-bottom: 10px;
                text-align: center;

                span {
                    font-size: 30px;
                    position: relative;
                    border-bottom: 8px solid #62ff00;
                    padding-bottom: 0.75rem;
                }
            }
        }

        .partner-container {
            width: 100%;
            .container {
                width: 100%;
                .row {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    .partner {
                        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                        filter: grayscale(100%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        min-width: 300px;

                        a {
                            img {
                                // filter: grayscale(100%);
                                max-height: 120px !important;
                                max-width: 150px;
                            }

                            img:nth-child(-n + 5) {
                                margin-bottom: 2rem;
                            }
                        }
                    }

                    .partner:hover {
                        filter: grayscale(0);
                    }

                    .partner.override-grayscale {
                        filter: grayscale(0) !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    partners {
        > .container {
            // margin-top: 108px;

            .section-title {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 60px;

                .title {
                        width: 172px;
                    height: 48px;
                    border-bottom: 8px solid $as-green;
                    padding-bottom: 10px;

                    span {
                        font-size: 40px;
                        position: relative;
                    }
                }
            }

            .partner-container {
                justify-content: center;

                .container {
                    .row {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        margin: 0 auto;
                        width: 90%;

                        .partner {
                            min-width: 125px;
                        }
                        .partner:nth-child(-n + 5) {
                            // margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}