<div class="container">
	<!--<div class="row shapes-container">
		<div class="col">
			<div class="triangle">
				<div class="empty"></div>
			</div>
		</div>
		<div class="col">
			<div class="rectangle-1"></div>
		</div>
		<div class="col">
			<div class="rectangle-2"></div>
		</div>
		<div class="col">
			<div class="a-1"><span>/ \</span></div>
		</div>
		<div class="col">
			<div class="a-2"><span>/ \</span></div>
		</div>
		<div class="col">
			<div class="t-1"><span>//////</span></div>
		</div>
		<div class="col">
			<div class="rectangle-fill"></div>
		</div>
		<div class="col">
			<div class="plus"><span>+</span></div>
		</div>
	</div>-->
	<div class="row logo-container">
		<div class="container logo">
			<img ng-src="../img/footer_logo.png" alt="">
		</div>
	</div>
</div>