<ion-view class="live-stream-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container">
            <div class="row title-row">
                <div class="col title">
                    <span>LIVE STREAM</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="description">Streaming live Saturday, February 04 7 - 9 pm CET</div>
                </div>
            </div>
        </div>
        <div class="container buttons">
            <div class="row">
                <div class="col">
                    <a href="http://www.eurosportplayer.com/" target="_blank"><button>Eurosport</button></a>
                    <a href="https://www.go90.com/" traget="_blank"><button>Go90</button></a>
                </div>
            </div>
        </div>
        <!--<eversport></eversport>-->
        <!--<blogs></blogs>-->
        <tumblr-feed></tumblr-feed>
        <download-app></download-app>
        <branding></branding>
        <subscribe></subscribe>
        <footer></footer>
    </ion-content>
</ion-view>
