<ion-view class="live-stream-view">
    <ion-content delegate-handle="mainScroll" on-scroll="ac.getScroll()" overflow-scroll="true">
        <div class="container">
            <div class="row title-row">
                <div class="col title">
                    <span>LIVE STREAM</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header">SAT 2/18</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="description">7:15 - 8:00 Qualis Run 1 | Facebook Live</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="description">8:00 - 11:15 Chromeo + Qualis Run 2 + Flume | Exclusively on Go90</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="header">SUN 2/19</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="description">8:45 - 10:15 Air + Style Finals | Europe + Asia: Eurosport | US: Go90 | Everywhere else: Below</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="description">10:15 - 11:30 Major Lazer | Live on go90</div>
                </div>
            </div>
        </div>
        <div class="container buttons">
            <div class="row">
                <div class="col">
                    <a href="http://www.eurosportplayer.com/" target="_blank"><button>Eurosport</button></a>
                    <a href="http://go90.show/AS_Day1" traget="_blank"><button>Go90</button></a>
                </div>
            </div>
        </div>
        <eversport></eversport>
        <blogs></blogs>
        <tumblr-feed></tumblr-feed>
        <download-app></download-app>
        <branding></branding>
        <subscribe></subscribe>
        <footer></footer>
    </ion-content>
</ion-view>
