preloader {
    z-index: 99;
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        background-color: black;
        z-index: 99;
        position: fixed;
        opacity: 1;
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

        .row {
            display: flex;
            justify-content: center;
            .col {
                display: flex;
                justify-content: center;
            }
        }
    }

    .container.time {
        opacity: 0;
        .row {
            .col {
                position: relative;
                // bottom: 5rem;

            }
        }
    }
}